<section id="auth-side-menu" data-ng-controller="AuthSideMenuController">
    <div class="logo-container">
        <a ui-sref="home">
            <img data-ng-src="/modules/fu/client/img/general/logo-text.png">
        </a>
    </div>
    <div class="user-container">
        <a ui-sref="profile({username:authentication.user.username})">
            <avatar url="authentication.user.avatarUrl" size="'sm'"></avatar>
        </a>
        <div class="username-container">
            <a ui-sref="profile({username:authentication.user.username})" class="username">{{authentication.user.username}}</a>
            <div class="icon-container">
                <a ui-sref="settings"><i class="fa fa-cog"></i></a>
                <a ui-sref="messages.home" href><i class="fa fa-envelope-o"></i></a>
                <a href data-ng-click="showNotifications()"><i class="fa fa-bell-o"></i>
                </a>
            </div>
            <span class="notification-count" data-ng-if="notificationCount()>0">{{notificationCount()}}</span>
            <span class="message-count" data-ng-if="user.info.messageCount>0">{{user.info.messageCount}}</span>
        </div>
    </div>
    <div class="stats-container">
        <!--
        <div class="profit">
            <div class="num">
                +150
            </div>
            <div class="text">
                profit
            </div>
        </div>
        -->
        <div class="units">
            <div class="num">
                {{authentication.user.units}}
            </div>
            <div class="text">
                units
            </div>
        </div>
        <div class="active-picks">
            <div class="num">
                {{user.info.stats.activePicks}} / {{user.info.stats.activeUnits}}
            </div>
            <div class="text">
                active picks / units
            </div>
        </div>
    </div>
    <div class="menu-container">
        <ul class="user-menu">
            <li><a ui-sref="myHub" data-ng-class="{active: isActive('/hub')}">HUB</a></li>
            <li>
                <a>CHANNELS</a>
                <a href class="pull-right add-btn" data-ng-click="showChannelSelect()">+</a>
                <ul class="channel-list">
                    <li data-ng-repeat="channel in user.info.channels">
                        <a ui-sref="channel.main.home({channelSlug: channel.slug})" data-ng-class="{active: isActive('/channel/'+channel.slug)}">{{channel.name}}</a>
                    </li>
                </ul>
            </li>
            <li><a ui-sref="profile({username:authentication.user.username})" data-ng-class="{active: isActive('/profile/'+authentication.user.username)}">PROFILE</a></li>
            <li><a href data-ng-click="showMyPicks()" >MY PICKS</a></li>
            <li><a ui-sref="myFollowing" data-ng-class="{active: isActive('/my-following')}">FOLLOWING</a></li>
        </ul>
    </div>
    <div class="logout-container">
        <a href="/api/auth/signout" target="_self" >Sign Out</a>
    </div>
</section>