<section id="auth-side-menu" data-ng-controller="AuthSideMenuController">
    <div class="logo-container">
        <a ui-sref="home">
            <img data-ng-src="/modules/fu/client/img/general/logo-text.png">
        </a>
    </div>
    <div class="user-container">
        <avatar url="authentication.user.avatarUrl" size="'sm'"></avatar>
        <div class="username-container">
            <a ui-sref="profile({username:authentication.user.username})" class="username">{{authentication.user.username}}</a>
            <div class="icon-container">
                <a ui-sref="messages" href><i class="fa fa-envelope-o"></i></a>
                <a href><i class="fa fa-bell-o"></i></a>
                <a ui-sref="settings"><i class="fa fa-cog"></i></a>
            </div>
        </div>
    </div>
    <div class="stats-container">
        <div class="profit">
            <div class="num">
                +150
            </div>
            <div class="text">
                profit
            </div>
        </div>
        <div class="units">
            <div class="num">
                {{authentication.user.units}}
            </div>
            <div class="text">
                units
            </div>
        </div>
        <div class="active-picks">
            <div class="num">
                10 / 25
            </div>
            <div class="text">
                active picks / units
            </div>
        </div>
    </div>
    <div class="menu-container">
        <ul class="user-menu">
            <li><a ui-sref="myHub">HUB</a></li>
            <li>
                <a>CHANNELS</a>
                <a href class="pull-right add-btn" data-ng-click="showChannelSelect()">+</a>
                <ul class="channel-list">
                    <li><a ui-sref="channel({channelSlug:'nhl'})">NHL</a></li>
                    <li><a ui-sref="channel({channelSlug:'nba'})">NBA</a></li>
                </ul>
            </li>
            <li><a ui-sref="myTracker">PICKTRACKER</a></li>
            <li><a ui-sref="profile({username:authentication.user.username})">PROFILE</a></li>
            <li><a href data-ng-click="showMyPicks()">MY PICKS</a></li>
            <li><a ui-sref="myFollowing">FOLLOWING</a></li>
        </ul>
    </div>
</section>