<section data-ng-controller="ChannelController" class="channel content-padding-top">
    <div class="loading-container" data-ng-hide="!loading.isLoading.pageLoading">
        <loading bg-color="'gray'" color="'blue-2'" is-loading="loading.isLoading.pageLoading"></loading>
    </div>
    <div data-ng-hide="loading.isLoading.pageLoading">
        <ng-include src="'/modules/fu/client/views/channels/channel-top-menu.client.view.html'"></ng-include>

        <div class="row">
            <div class="col-md-8 clearfix">
                <div ui-view></div>
            </div>
            <div class="col-md-4 clearfix">
                <ng-include src="'/modules/fu/client/views/channels/channel-chat.client.view.html'"></ng-include>
                <ng-include src="'/modules/fu/client/views/channels/channel-consensus.client.view.html'"></ng-include>
                <ng-include src="'/modules/fu/client/views/channels/channel-trending.client.view.html'"></ng-include>
                <ng-include src="'/modules/fu/client/views/channels/channel-discussion.client.view.html'"></ng-include>
            </div>
        </div>
    </div>
</section>