<nav class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="header">FANSUNITE</div>
                <ul>
                    <li>
                        <a ui-sref="static.about">About</a>
                    </li>
                    <li>
                        <a ui-sref="static.faq">FAQ</a>
                    </li>
                    <li>
                        <a ui-sref="static.userguide">User Guide</a>
                    </li>
                    <li>
                        <a ui-sref="whyGoPro">Why Go Pro?</a>
                    </li>
                    <li>
                        <a ui-sref="static.monthlyRevenueShare">Revenue Share</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="header">LEARN MORE</div>
                <ul>
                    <li>
                        <a ui-sref="static.howPicksAreGraded">How Picks Are Graded</a>
                    </li>

                    <li>
                        <a ui-sref="static.betting101">Betting 101</a>
                    </li>
                    <li>
                        <a ui-sref="static.glossary">Glossary</a>
                    </li>
                    <li>
                        <a ui-sref="static.sportsbooks">Top 10 Sports Books</a>
                    </li>
                    <li>
                        <a ui-sref="static.press">Press</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="header">SPORTS BETTING</div>
                <ul>
                    <li>
                        <a ui-sref="discover.league({sportSlug:'football', leagueSlug:'nfl'})">NFL Betting</a>
                    </li>
                    <li>
                        <a ui-sref="discover.sport({sportSlug:'e-sports'})">E-Sport Tips</a>
                    </li>
                    <li>
                        <a ui-sref="discover.league({sportSlug:'basketball', leagueSlug:'nba'})">NBA Tips</a>
                    </li>
                    <li>
                        <a ui-sref="discover.sport({sportSlug:'soccer'})">Soccer Picks</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="header">CONNECT</div>
                <ul>
                    <li>
                        <a ui-sref="static.contact">Contact Us</a>
                    </li>
                </ul>
                <div style="margin-bottom:2px;">
                    <a href="https://www.facebook.com/TheFansUnite?ref=br_tf" target="_blank">
                        <img src="modules/fu/client/img/social/facebook.jpg">
                    </a>
                </div>
                <div style="margin-bottom:2px;">
                <a href="https://twitter.com/fansunite" target="_blank">
                    <img src="modules/fu/client/img/social/twitter.png">
                </a>
                </div>
                <a href="https://www.youtube.com/user/FansuniteTV" target="_blank">
                    <img src="modules/fu/client/img/social/youtube.png">
                </a>
                </div>
                <!--
                <div style="margin-bottom:3px;">
                    <btn-facebook-like></btn-facebook-like>
                </div>
                <div>
                    <btn-twitter-follow></btn-twitter-follow>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="pull-left">Copyright © 2016 FansUnite Media, Inc. All Rights Reserved.</div>
        <div class="pull-right">
            <span>
            <a ui-sref="static.privacy">Privacy</a>
        </span>
        <span>
            <a ui-sref="static.rules">Rules</a>
        </span>
        <span>
            <a ui-sref="static.terms">Terms of Use</a>
        </span>
        </div>
    </div>
</nav>