<section class="content-padding-top" data-ng-controller="GamecenterController">
    <ng-include src="'/modules/fu/client/views/gamecenter/gamecenter-top-menu.client.view.html'"></ng-include>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <ng-include src="'/modules/fu/client/views/gamecenter/gamecenter-header.client.view.html'"></ng-include>
                <!--<ng-include src="'/modules/fu/client/views/gamecenter/gamecenter-pro-picks.client.view.html'"></ng-include>-->
                <ng-include src="'/modules/fu/client/views/gamecenter/gamecenter-discussion.client.view.html'"></ng-include>
            </div>
            <div class="col-sm-4">
                <ng-include src="'/modules/fu/client/views/gamecenter/gamecenter-make-picks.client.view.html'"></ng-include>
                <ng-include src="'/modules/fu/client/views/gamecenter/gamecenter-consensus.client.view.html'"></ng-include>
                <ng-include src="'/modules/fu/client/views/gamecenter/gamecenter-picks.client.view.html'"></ng-include>
            </div>
        </div>
    </div>
</section>