<section data-ng-controller="HubController" class="hub content-padding-top">
    <div class="loading-container">
        <loading bg-color="'gray'" color="'blue-2'" is-loading="loading"></loading>
    </div>
    <div class="container-fluid" data-ng-hide="loading">
        <div class="row">
            <div class="col-sm-4">
                <ng-include src="'/modules/fu/client/views/hub/hub-picks-feed.client.view.html'"></ng-include>
            </div>
            <div class="col-sm-4">
                <ng-include src="'/modules/fu/client/views/hub/hub-consensus.client.view.html'"></ng-include>
                <ng-include src="'/modules/fu/client/views/hub/hub-discussion.client.view.html'"></ng-include>
            </div>
            <div class="col-sm-4">
                <ng-include src="'/modules/fu/client/views/hub/hub-chat.client.view.html'"></ng-include>
                <ng-include src="'/modules/fu/client/views/hub/hub-trending.client.view.html'"></ng-include>
                <ng-include src="'/modules/fu/client/views/hub/hub-leaderboard.client.view.html'"></ng-include>
            </div>
        </div>
    </div>
</section>