<section class="container-fluid" id="profile" data-ng-controller="ProfileController">
    <div class="row">
        <div class="col-sm-4">
            <ng-include src="'/modules/fu/client/templates/profile/profile-info.client.template.html'"></ng-include>
            <ng-include src="'/modules/fu/client/templates/profile/profile-all-time-stats.client.template.html'"></ng-include>
            <ng-include src="'/modules/fu/client/templates/profile/profile-top-performances.client.template.html'"></ng-include>
            <!--
            <ng-include src="'/modules/fu/client/templates/profile/profile-channels.client.template.html'"></ng-include>
            -->
        </div>
        <div class="col-sm-8">
            <ng-include src="'/modules/fu/client/templates/profile/profile-trending-stats.client.template.html'"></ng-include>
            <ng-include src="'/modules/fu/client/templates/profile/profile-content.client.template.html'"></ng-include>
        </div>
    </div>
</section>