<div data-ng-controller="TopMenuController">
    <div class="logo-container" data-ng-if="!authentication.user || isBlog()" >
        <a ui-sref="home">
            <img alt="FansUnite Logo" data-ng-src="/modules/fu/client/img/general/logo-full.png">
        </a>
    </div>
    <div class="avatar-container" data-ng-if="authentication.user" data-ng-click="toggleSideMenu()">
        <a href>
            <avatar username="authentication.user.username" url="authentication.user.avatarUrl" size="'sm'"></avatar>
        </a>
    </div>
    <div class="search-container">
        <script type="text/ng-template" id="customTemplate.html">
            <div class="typeahead-group-header" ng-if="match.model.first">{{match.model.type}}</div>
            <a href>
                <span ng-bind-html="match.label | typeaheadHighlight:query"></span>
                <span data-ng-if="match.model.type === 'event'" class="league-name">{{match.model.leagueName}}</span>
                <span data-ng-if="match.model.type === 'event'" class="start-time">{{match.model.startTime| date : 'mediumDate'}}</span>
            </a>
        </script>

        <div class="search-box">
            <i class="fa fa-search" data-ng-click="toggleSearch()">
            </i>
            <input type="text" placeholder="Search for Users, Games or Channels" data-ng-model="searchText"
                   typeahead-template-url="customTemplate.html"
                   typeahead-min-length="3"
                   typeahead-on-select ="searchSelected($model)"
                   typeahead="result as result.name for result in getResults($viewValue)">
        </div>
    </div>

    <nav class="collapse navbar-collapse menu-links" collapse="!isCollapsed" role="navigation">
        <div class="pull-right trial-btn-container" data-ng-if="user.info.status === 'free' && !authentication.user.trialUsed">
            <button class="btn btn-upgrade" data-ng-click="showTrialModal()">FREE TRIAL</button>
        </div>
        <ul class="auth nav navbar-nav" data-ng-if="!authentication.user">
            <li><a ui-sref="login" data-ng-class="{active: $scope.state.current.name === 'login'}">Login</a></li>
            <li><a href="{{signupUrl()}}" data-ng-class="{active: $scope.state.current.name === 'signup'}">Sign Up</a></li>
        </ul>
        <ul class="general nav navbar-nav" id="hub-step5">
            <li><a ui-sref="makePicks.home" data-ng-class="{active:  $scope.state.current.name === 'makePicks'}">Make Picks</a></li>
            <li><a ui-sref="discover.home" data-ng-class="{active: $scope.state.current.name === 'discover' }">Discover</a></li>
        </ul>
        <ul class="general nav navbar-nav">
            <li><a ui-sref="blog.home" data-ng-class="{active:  $scope.state.current.name === 'blog'}">Blog</a></li>

        </ul>
    </nav>



    <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

</div>



