<div class="unverified content-padding-top" data-ng-class="{picks: isPicksPage()}">
    <section class="panel text-center">
        <div class="panel-body">
            Please verify your email address for full access.
            <button class="btn btn-blue-empty btn-xs" data-ng-click="resendVerificationEmail()" data-ng-disabled="loading.isLoading.formSubmit">Resend Email</button>
            <div data-ng-bind="resendSuccess"></div>
            <div data-ng-bind="resendError"></div>
        </div>
    </section>
</div>