.gamecenter-consensus{
  &.consensus-1{
    .consensus-container{
      width:100%;
    }
  }
  &.consensus-2{
    .consensus-container{
      width:50%;
    }
  }
  &.consensus-3{
    .consensus-container{
      width:33%;
    }
  }

  .consensus-container{
    text-align:center;
    float:left;
    padding:0 5px;
    .header{

    }
    .name{
      padding:10px 0;
      font-size:16px;
    }
    .percent{
      color:@color-text-dark;
      font-size:14px;
      font-weight:bold;
    }
    .fa{
      font-size:50px;
      padding:5px 0;
    }
    .fa-arrow-circle-o-up{
      color:@color-green-light;
    }
    .fa-arrow-circle-o-down{
      color:@color-red;

    }
  }
}