
<div class="pick-list">
    <div class="pick clearfix" data-ng-repeat="pick in picks">
        <div class="avatar-container" data-ng-if="includeUser">

        </div>
        <div class="pick-container">
            <div class="bet-name">{{pick|betName:pick.event}} <span class="bet-duration">({{pick.betDuration}})</span></div>
            <div class="statistics">
                <div class="stat-container">
                    <div class="stat-value">{{pick.units}}</div>
                    <div class="stat-text">UNITS</div>
                </div>
                <div class="stat-container">
                    <div class="stat-value">{{pick.odds|formatOdds}}</div>
                    <div class="stat-text">ODDS</div>
                </div>
                <div class="stat-container">
                    <div class="stat-value">{{pick|pickReturn}}</div>
                    <div class="stat-text">RETURN</div>
                </div>
            </div>
        </div>
    </div>
</div>
