
<div class="pick-list">
    <div class="pick clearfix" data-ng-repeat="pick in picks">
        <div class="text-center upgrade-container" data-ng-if="pick.hidden">
            <btn-upgrade></btn-upgrade>
        </div>
        <div data-ng-if="!pick.hidden">
            <div class="avatar-container" data-ng-if="includeUser">
                <avatar size="'sm'" url="pick.user.ref.avatarUrl"></avatar>
                <div class="username">
                    <a ui-sref="profile({username:pick.user.ref.username})">{{pick.user.ref.username}}</a>
                </div>
                <btn-follow user-id="pick.user.ref._id"></btn-follow>
            </div>
            <div class="pick-container">
                <div class="bet-name">
                    <span class="pro-label" data-ng-if="pick.premium">PRO</span>
                    {{pick|betName:event}} <span class="bet-duration">{{pick.betDuration}}</span>
                    <span class="copy-pick" data-ng-if="pick.copiedFrom"><span class="fa fa-retweet"></span>copied from <a ui-sref="profile({username: pick.copiedFrom.user.name})">{{pick.copiedFrom.user.name}}</a></span>
                </div>
                <div class="statistics clearfix statistic-result-{{pick.result|formatResult}}">
                    <div class="stat-container">
                        <div class="stat-value">{{pick.units}}</div>
                        <div class="stat-text">UNITS</div>
                    </div>
                    <div class="stat-container">
                        <div class="stat-value">{{pick.odds|formatOdds}}</div>
                        <div class="stat-text">ODDS</div>
                    </div>
                    <div class="stat-container" data-ng-if="pick.result === 'Pending'">
                        <div class="stat-value">{{pick|pickReturn}}</div>
                        <div class="stat-text">RETURN</div>
                    </div>
                    <div class="stat-container" data-ng-if="pick.result !== 'Pending'">
                        <div class="stat-value stat-value-profit">{{pick.profit|formatProfit}}</div>
                        <div class="stat-text">PROFIT</div>
                    </div>
                    <div class="stat-container" data-ng-if="pick.result !== 'Pending'">
                        <div class="stat-value stat-value-roi">{{pick.roi|formatRoi}}</div>
                        <div class="stat-text">ROI</div>
                    </div>
                    <div class="stat-container stat-container-result" data-ng-if="pick.result !== 'Pending'">
                        <div class="stat-value  stat-value-result">{{pick.result|formatResult}}</div>
                        <div class="stat-text">RESULT</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="action-btn">
                        <a href data-ng-click="showCommentModal(pick)">
                            <i class="fa fa-commenting"></i>COMMENT
                        </a>
                    </div>
                    <div class="action-btn"  data-ng-if="!userPicks.hasStarted(event)">
                        <a href data-ng-click="copyPick(pick, event)" data-ng-class="{disabled: (userPicks.isOwn(pick) || userPicks.isPicked(pick)), copied: userPicks.isCopied(pick)}">
                            <span class="fa fa-retweet"></span>
                            <span data-ng-if="!userPicks.isCopied(pick)">COPY</span><span data-ng-if="userPicks.isCopied(pick)">COPIED</span>
                        </a>
                    </div>
                    <div class="action-btn" data-ng-if="userPicks.isOwn(pick)">
                        <a href data-ng-click="sharePick(pick, event)"><i class="fa fa-share-alt"></i>SHARE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
