body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #eeeeee;
  color: #6a6b6c;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
#content {
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  #content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  #content.auth {
    margin-left: 200px;
  }
}
#content > section {
  position: relative;
}
a {
  color: #21759b;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #185571;
}
.content-padding-top {
  padding-top: 20px;
}
.sport-icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 100%;
}
.sport-icon.dark {
  filter: invert(0.7);
  -webkit-filter: invert(0.7);
  -moz-filter: invert(0.7);
  -o-filter: invert(0.7);
  -ms-filter: invert(0.7);
}
.btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0;
  border-radius: 0;
}
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0;
}
.btn-orange {
  background-color: #e9893a;
  color: #ffffff;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-orange:hover,
.btn-orange:focus {
  color: #ffffff;
  background-color: #e67b23;
}
.btn-blue {
  background-color: #104673;
  color: #ffffff;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-blue:hover,
.btn-blue:focus {
  color: #ffffff;
  background-color: #0d385d;
}
.btn-facebook {
  background-color: #4261b1;
  color: #ffffff;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-facebook:hover,
.btn-facebook:focus {
  color: #ffffff;
  background-color: #3b579e;
}
.btn-google {
  background-color: #d15c40;
  color: #ffffff;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-google:hover,
.btn-google:focus {
  color: #ffffff;
  background-color: #c74d30;
}
.btn-action {
  font-size: 16px;
  margin-right: 7px;
}
.btn-share .fa {
  color: #21759b;
}
.btn-comment .fa {
  color: #e9893a;
}
.btn-follow .fa {
  color: #e9893a;
}
.btn-pending-picks {
  color: #21759b;
  background-color: white;
  border: 1px solid #21759b;
  width: 19px;
  height: 19px;
  border-radius: 19px;
  display: inline-block;
  font-size: 10px;
  line-height: 1.6;
  vertical-align: middle;
  margin-top: -3px;
}
.btn-tracker .fa {
  color: #4caf50;
}
.btn-follow-lg {
  background-color: #1ccf31;
  color: white;
  font-size: 13px;
  padding: 4px 18px;
}
.loading,
.loading:before,
.loading:after {
  border-radius: 50%;
}
.loading:before,
.loading:after {
  position: absolute;
  content: '';
}
.loading:before {
  width: 5.2em;
  height: 10.2em;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loading {
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading:after {
  width: 5.2em;
  height: 10.2em;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-blue:before {
  background: #104673;
}
.loading-blue:after {
  background: #104673;
}
.loading-orange:before {
  background: #e9893a;
}
.loading-orange:after {
  background: #e9893a;
}
.loading-bg-gray:before {
  background: #eeeeee;
}
.loading-bg-gray:after {
  background: #eeeeee;
}
.loading-sm {
  font-size: 2px;
}
.loading-md {
  font-size: 5px;
}
.loading-log {
  font-size: 6px;
}
.dropdown-menu {
  border-radius: 0;
}
.modal-dialog {
  border-radius: 0;
}
.modal-dialog .modal-header {
  border-bottom: 0;
  padding: 10px;
}
.modal-dialog .modal-content {
  border-radius: 0;
}
.modal-dialog .modal-footer {
  border-top: 0;
  padding: 10px;
}
.avatar {
  background-color: white;
}
.avatar.avatar-xs {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}
.avatar.avatar-sm {
  border-radius: 40px;
  height: 40px;
  width: 40px;
}
.avatar.avatar-md {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.avatar.avatar-lg {
  border-radius: 90px;
  width: 90px;
  height: 90px;
}
.form-control {
  font-size: 12px;
  height: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control:focus {
  border-color: #e9893a;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.pagination,
.pagination-sm {
  margin: 0;
}
.pagination li a,
.pagination-sm li a,
.pagination li:first-child a,
.pagination-sm li:first-child a,
.pagination li:last-child a,
.pagination-sm li:last-child a {
  border-radius: 24px;
  margin: 0 3px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  color: #6a6b6c;
  text-align: center;
  padding-left: 0;
  line-height: 1;
  padding-right: 0;
}
.pagination li a:hover,
.pagination-sm li a:hover,
.pagination li:first-child a:hover,
.pagination-sm li:first-child a:hover,
.pagination li:last-child a:hover,
.pagination-sm li:last-child a:hover {
  color: #e9893a;
}
@media (min-width: 768px) {
  .pagination li a,
  .pagination-sm li a,
  .pagination li:first-child a,
  .pagination-sm li:first-child a,
  .pagination li:last-child a,
  .pagination-sm li:last-child a {
    line-height: 1.4;
    border-radius: 30px;
    margin: 0 3px;
    width: 33px;
    height: 33px;
    font-size: 14px;
  }
}
.pagination li.active a,
.pagination-sm li.active a,
.pagination li:first-child.active a,
.pagination-sm li:first-child.active a,
.pagination li:last-child.active a,
.pagination-sm li:last-child.active a,
.pagination li.active a:hover,
.pagination-sm li.active a:hover,
.pagination li:first-child.active a:hover,
.pagination-sm li:first-child.active a:hover,
.pagination li:last-child.active a:hover,
.pagination-sm li:last-child.active a:hover {
  color: white;
  background-color: #e9893a;
  border-color: #ddd;
}
.panel-square {
  border-radius: 0;
}
.panel-footer {
  background-color: transparent;
}
.panel {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.panel h1 {
  font-size: 14px;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 14px;
}
.panel h1 .time-heading {
  font-size: 10px;
  color: #6a6b6c;
  margin-left: 8px;
}
.border-right-divider {
  border-right: 1px solid #eaeaea;
}
h1 {
  color: #2b2b2c;
}
.table {
  margin-bottom: 0;
}
.table tbody tr td {
  vertical-align: middle;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs li {
  border-bottom: 2px solid white;
}
.nav-tabs li a {
  color: #6a6b6c;
  border-bottom: 2px solid #eaeaea;
  margin-right: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.nav-tabs li a:hover {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: white;
  border-bottom: 2px solid #eaeaea;
}
.nav-tabs li.active a {
  border: 0;
  border-bottom: 2px solid #e9893a;
}
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  border: 0;
  border-bottom: 2px solid #e9893a;
}
.tabs-full {
  text-align: center;
}
.tabs-sm li a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.tabs-2 .nav-tabs li {
  width: 50%;
}
.tabs-3 .nav-tabs li {
  width: 33.33333333%;
}
.tabs-4 .nav-tabs li {
  width: 25%;
}
.tabs-5 .nav-tabs li {
  width: 20%;
}
.dynamic-grid {
  position: relative;
  display: none;
}
.dynamic-grid.angular-grid {
  display: block;
}
.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.grid.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.grid-img {
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}
.stat-value {
  color: #2b2b2c;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 4px;
}
.stat-text {
  font-size: 11px;
  text-transform: uppercase;
}
.toggle-container {
  display: inline-block;
}
input.toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
input.toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 20px;
  width: 35px;
  border-radius: 15px;
  top: -18px;
  margin-left: 5px;
}
input.toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
input.toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
input.toggle:checked + label:before {
  width: 35px;
  background: #21759b;
}
input.toggle:checked + label:after {
  left: 15px;
  box-shadow: inset 0 0 0 1px #21759b, 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal-prompt {
  width: 300px;
  margin: 50px auto;
}
@media (min-width: 768px) {
  .modal-prompt {
    width: 400px;
  }
}
.modal-prompt .btn {
  width: 100%;
}
.modal-my-picks {
  width: 900px;
}
.modal-my-picks .modal-content {
  background-color: #eeeeee;
}
.modal-my-picks .modal-header {
  text-align: center;
}
.modal-my-picks .modal-header .pending-picks-icon,
.modal-my-picks .modal-header .completed-picks-icon {
  display: inline-block;
  padding: 10px 30px 0 30px;
  cursor: pointer;
}
.modal-my-picks .modal-header .pending-picks-icon.active,
.modal-my-picks .modal-header .completed-picks-icon.active {
  color: #21759b;
}
.modal-my-picks .modal-header .fa {
  font-size: 50px;
}
.modal-my-picks .modal-header .text {
  font-size: 16px;
  margin-top: 10px;
}
.modal-my-picks .modal-body .picks-table-container {
  margin: 0 30px;
  background-color: white;
}
#auth-side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #21759b;
  z-index: 10;
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media (min-width: 768px) {
  #auth-side-menu {
    display: block;
  }
}
#auth-side-menu .logo-container {
  text-align: center;
  padding-top: 8px;
  height: 60px;
  background-color: #156790;
}
#auth-side-menu .user-container {
  height: 95px;
  padding: 30px 10px 30px 20px;
}
#auth-side-menu .user-container .username {
  font-size: 20px;
  color: #e9893a;
  font-weight: 700;
  vertical-align: middle;
  margin-left: 10px;
}
#auth-side-menu .stats-container {
  height: 140px;
  background-color: #156790;
  padding: 20px;
}
#auth-side-menu .stats-container .units,
#auth-side-menu .stats-container .profit {
  float: left;
  width: 50%;
  text-align: center;
}
#auth-side-menu .stats-container .active-picks {
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 5px;
}
#auth-side-menu .stats-container .num {
  color: white;
  font-size: 20px;
}
#auth-side-menu .stats-container .text {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
#auth-side-menu .menu-container {
  padding: 20px;
  overflow-y: scroll;
}
#auth-side-menu .menu-container .add-btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 13px;
  text-align: center;
  width: 13px;
  height: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 10px;
  margin-top: 3px;
}
#auth-side-menu .menu-container ul.user-menu {
  padding-left: 0;
  list-style-type: none;
}
#auth-side-menu .menu-container ul.user-menu > li {
  font-size: 16px;
  margin-bottom: 20px;
}
#auth-side-menu .menu-container ul.user-menu > li a {
  color: rgba(255, 255, 255, 0.6);
}
#auth-side-menu .menu-container ul.channel-list {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
}
#auth-side-menu .menu-container ul.channel-list > li {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
#auth-side-menu .menu-container ul.channel-list > li a {
  color: rgba(255, 255, 255, 0.95);
}
#top-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media (min-width: 768px) {
  #top-menu.auth {
    left: 200px;
  }
}
#top-menu ul {
  float: right;
  height: 60px;
}
#top-menu ul li {
  display: inline-block;
  line-height: 60px;
}
#top-menu ul li a {
  height: 60px;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 20px;
  color: lightgray;
  font-size: 18px;
}
#top-menu ul li a:hover {
  color: #515252;
}
#top-menu .logo-container {
  line-height: 60px;
  width: 55px;
  display: inline-block;
  padding-left: 10px;
  overflow: hidden;
}
@media (min-width: 992px) {
  #top-menu .logo-container {
    padding-left: 20px;
    overflow: visible;
    width: 200px;
  }
}
#top-menu .search-container {
  line-height: 60px;
  display: none;
  padding-left: 20px;
}
@media (min-width: 992px) {
  #top-menu .search-container {
    display: inline-block;
  }
}
#top-menu .search-container .fa-search {
  color: rgba(106, 107, 108, 0.5);
  font-size: 16px;
}
#top-menu .search-container input {
  margin-left: 10px;
  border: none;
  line-height: 40px;
}
#top-menu .search-container input:focus {
  outline: none;
}
#top-menu .menu-links {
  display: none;
}
@media (min-width: 992px) {
  #top-menu .menu-links {
    display: inline-block;
  }
}
#make-picks {
  position: absolute;
  left: 0;
  right: 0;
}
#make-picks #menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1010;
  height: 100%;
  background-color: white;
  width: 200px;
  left: -200px;
  overflow-y: scroll;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#make-picks #menu-container.show {
  -moz-transition: left 0.2s ease-in-out;
  -webkit-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  -ms-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
  left: 0;
}
@media (min-width: 768px) {
  #make-picks #menu-container {
    margin-top: 20px;
    -moz-transition: left 0s ease-in-out;
    -webkit-transition: left 0s ease-in-out;
    -o-transition: left 0s ease-in-out;
    -ms-transition: left 0s ease-in-out;
    transition: left 0s ease-in-out;
    top: auto;
    bottom: auto;
    height: auto;
    left: 0;
    display: block;
    position: absolute;
    background-color: transparent;
    width: 165px;
    z-index: 0;
  }
}
#make-picks .menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#make-picks .menu-overlay.show {
  display: block;
}
#make-picks #picks-container {
  position: absolute;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  #make-picks #picks-container {
    padding-left: 30px;
    left: 165px;
  }
}
@media (min-width: 1400px) {
  #make-picks #picks-container {
    right: 300px;
  }
}
#make-picks-menu .sport-icon {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}
#make-picks-menu .fa-angle-right,
#make-picks-menu .fa-angle-down {
  margin-top: 3px;
}
@media (min-width: 768px) {
  #make-picks-menu {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}
#make-picks-menu .main-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
#make-picks-menu .main-list .main-item {
  background-color: white;
  padding: 8px 5px;
  border-bottom: 1px solid #eeeeee;
  display: block;
  color: #6a6b6c;
}
@media (min-width: 768px) {
  #make-picks-menu .main-list .main-item {
    padding: 3px 5px;
  }
}
#make-picks-menu .main-list .main-item:hover {
  color: #515252;
}
#make-picks-menu .main-list .main-item.semi-active {
  font-weight: bold;
}
#make-picks-menu .main-list .main-item > span {
  vertical-align: middle;
}
#make-picks-menu .main-list > li:last-of-type .main-item {
  border: none;
}
#make-picks-menu .sub-1-list {
  list-style-type: none;
  padding-left: 0px;
}
#make-picks-menu .sub-1-list .sub-1-item {
  background-color: #dadada;
  padding: 3px 5px 3px 15px;
  border-bottom: 1px solid #eeeeee;
  display: block;
  color: #6a6b6c;
}
#make-picks-menu .sub-1-list .sub-1-item:not(.abstract):hover,
#make-picks-menu .sub-1-list .sub-1-item:not(.abstract).full-active {
  background-color: #21759b;
  color: white;
}
#make-picks-menu .sub-1-list .sub-1-item.abstract:hover,
#make-picks-menu .sub-1-list .sub-1-item.abstract.full-active {
  color: #515252;
}
#make-picks-menu .sub-2-list {
  list-style-type: none;
  padding-left: 0px;
}
#make-picks-menu .sub-2-list .sub-2-item {
  background-color: #dadada;
  padding: 3px 5px 3px 25px;
  border-bottom: 1px solid #eeeeee;
  display: block;
  color: #6a6b6c;
}
#make-picks-menu .sub-2-list .sub-2-item:hover,
#make-picks-menu .sub-2-list .sub-2-item.active {
  background-color: #21759b;
  color: white;
}
#make-picks-picks {
  margin-top: 20px;
}
#make-picks-picks div:first-of-type h2 {
  margin-top: 0;
}
#make-picks-picks h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 12px;
  margin-top: 25px;
}
#make-picks-picks .bet-duration-filter {
  text-transform: uppercase;
}
#make-picks-picks .bet-duration-filter .dropdown-menu {
  text-align: right;
}
#make-picks-picks .bet-duration-filter .dropdown-menu a {
  color: #6a6b6c;
  display: block;
  padding: 3px 20px 3px 0;
}
#make-picks-picks h4 {
  margin-top: 30px;
  font-weight: 300;
}
.make-picks-sub-menu {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #21759b;
  color: white;
  padding: 10px 10px;
  height: 35px;
}
@media (min-width: 768px) {
  .make-picks-sub-menu {
    position: static;
    background-color: transparent;
    padding: 0;
    color: #6a6b6c;
    height: 20px;
  }
}
.make-picks-sub-menu .fa-bars {
  cursor: pointer;
}
@media (min-width: 768px) {
  .make-picks-sub-menu .fa-bars {
    display: none;
  }
}
.make-picks-sub-menu h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  position: relative;
}
@media (min-width: 768px) {
  .make-picks-sub-menu h1 {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .make-picks-sub-menu h1 {
    font-size: 20px;
  }
}
.make-picks-sub-menu h1 .fa-angle-right {
  margin: 0 2px;
  font-size: 12px;
  color: white;
}
@media (min-width: 768px) {
  .make-picks-sub-menu h1 .fa-angle-right {
    font-size: 16px;
    margin: 0 10px;
    color: #909192;
  }
}
@media (min-width: 992px) {
  .make-picks-sub-menu h1 .fa-angle-right {
    font-size: 22px;
  }
}
.make-picks-sub-menu h1 .heading {
  position: absolute;
  left: 0;
  right: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.make-picks-sub-menu h1 .bet-duration-filter {
  position: absolute;
  right: 0;
  width: 120px;
  text-align: right;
}
.bet-section-container {
  display: none;
}
@media (min-width: 992px) {
  .bet-section-container {
    display: inline-block !important;
  }
}
.bet-section-container.active {
  display: inline-block;
}
.bet-section-container:last-of-type .bets-container {
  border-right: 0;
}
.bet-section {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  text-align: center;
}
.bet-section .heading {
  text-transform: uppercase;
  padding: 0 5px;
}
.bet-section .bet-btn {
  display: inline-block;
  vertical-align: top;
  color: #6a6b6c;
}
.bet-section .bet-btn.selected {
  color: #e9893a;
}
.bet-section .bet-btn.picked {
  color: #21759b;
  cursor: default;
}
.bet-section .dropdown-toggle {
  vertical-align: top;
}
@media (min-width: 992px) {
  .bet-section .bets-container {
    border-right: 1px solid #eaeaea;
  }
}
.bet-section .bets-container.has-draw {
  border-right: 0;
  display: inline-block;
}
.bet-section .draw-bet {
  display: inline-block;
  border-right: 1px solid #eaeaea;
  height: 90px;
  vertical-align: top;
  padding-top: 30px;
  padding-right: 5px;
  float: right;
}
.bet-section .draw-bet .draw-text {
  color: rgba(106, 107, 108, 0.7);
  font-size: 12px;
}
.bet-section .bet-1 {
  padding: 3px 0;
  margin: 0 10px;
  border-bottom: 1px solid #eaeaea;
}
.bet-section .bet-2 {
  padding: 3px 0;
  margin: 0 10px;
}
.bet-section .bet {
  padding: 0 5px;
}
.bet-section .bet .odds {
  color: rgba(106, 107, 108, 0.7);
  font-size: 12px;
  padding-left: 5px;
}
.bet-section .bet .alt-bets .alt-bet {
  display: block;
}
.bet-section .bet .alt-bets .dropdown-menu {
  right: 0;
  text-align: right;
  padding-right: 10px;
  min-width: 140px;
  border-radius: 0;
}
.bet-section-moneyline .bet-1,
.bet-section-moneyline .bet-2 {
  padding-top: 10px;
}
.bet-section-team-totals .under {
  width: 48%;
}
.bet-section-team-totals .under .bet-row {
  margin-right: 0;
}
.bet-section-team-totals .over {
  width: 48%;
}
.bet-section-team-totals .bet {
  padding: 0 3px;
}
@media (min-width: 992px) {
  .bet-section-team-totals .bet {
    padding: 0 5px;
  }
}
.bet-section-team-totals .over,
.bet-section-team-totals .under {
  display: inline-block;
}
.picks-event-container {
  padding: 5px;
  width: 100%;
}
@media (min-width: 480px) {
  .picks-event-container {
    padding: 15px;
  }
}
.picks-event-container .contestant-section {
  float: left;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 480px) {
  .picks-event-container .contestant-section {
    width: 50%;
  }
}
@media (min-width: 650px) {
  .picks-event-container .contestant-section {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .picks-event-container .contestant-section {
    float: none;
    width: auto;
    min-width: 150px;
  }
}
.picks-event-container .contestants-container {
  border-right: 1px solid #eaeaea;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .picks-event-container .contestants-container {
    padding-right: 20px;
  }
}
.picks-event-container .contestants-container .contestant-name {
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
}
.picks-event-container .bet-section-container {
  width: 60%;
  float: left;
}
@media (min-width: 480px) {
  .picks-event-container .bet-section-container {
    width: 50%;
  }
}
@media (min-width: 650px) {
  .picks-event-container .bet-section-container {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .picks-event-container .bet-section-container {
    float: none;
    width: auto;
  }
}
.picks-event-container .bet-section {
  width: 100%;
}
@media (min-width: 992px) {
  .picks-event-container .bet-section {
    width: auto;
  }
}
.picks-event-container {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  float: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.picks-event-container .heading {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}
.picks-event-container .bet-row {
  height: 45px;
}
.picks-event-container .more-container {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}
.picks-event-container .more-container .count-container {
  height: 90px;
  padding-top: 36px;
  text-align: center;
  font-size: 16px;
}
@media (min-width: 992px) {
  .picks-event-container.columns-1 {
    width: auto;
  }
  .picks-event-container.columns-1 .contestant-section {
    min-width: 300px;
  }
  .picks-event-container.columns-1 .bet-section .bet {
    padding: 0 30px;
  }
}
@media (min-width: 992px) {
  .picks-event-container.columns-2 {
    width: auto;
  }
  .picks-event-container.columns-2 .contestant-section {
    min-width: 300px;
  }
  .picks-event-container.columns-2 .bet-section .bet {
    padding: 0 25px;
  }
}
@media (min-width: 992px) {
  .picks-event-container.columns-3 {
    width: 100%;
  }
  .picks-event-container.columns-3 .contestant-section {
    width: 40%;
    float: left;
  }
  .picks-event-container.columns-3 .bet-section-container {
    float: left;
    width: 20%;
  }
  .picks-event-container.columns-3 .bet-section-container .bet-section {
    width: 100%;
  }
  .picks-event-container.columns-3 .bet-section-container.bet-section-container-moneyline {
    width: 20%;
  }
  .picks-event-container.columns-3 .bet-section-container.bet-section-container-spread {
    width: 20%;
  }
  .picks-event-container.columns-3 .bet-section-container.bet-section-container-team-totals {
    width: 25%;
  }
  .picks-event-container.columns-3 .bet-section-container.bet-section-container-total {
    width: 20%;
  }
}
@media (min-width: 992px) {
  .picks-event-container.columns-4 {
    width: 100%;
  }
  .picks-event-container.columns-4 .contestant-section {
    width: 30%;
    float: left;
  }
  .picks-event-container.columns-4 .bet-section-container {
    float: left;
    width: 20%;
  }
  .picks-event-container.columns-4 .bet-section-container .bet-section {
    width: 100%;
  }
  .picks-event-container.columns-4 .bet-section-container.bet-section-container-moneyline {
    width: 15%;
  }
  .picks-event-container.columns-4 .bet-section-container.bet-section-container-spread {
    width: 15%;
  }
  .picks-event-container.columns-4 .bet-section-container.bet-section-container-team {
    width: 25%;
  }
  .picks-event-container.columns-4 .bet-section-container.bet-section-container-total {
    width: 15%;
  }
}
@media (min-width: 992px) {
  .picks-event-container.columns-5 {
    width: 100%;
  }
  .picks-event-container.columns-5 .contestant-section {
    width: 20%;
    float: left;
  }
  .picks-event-container.columns-5 .bet-section-container {
    float: left;
    width: 17%;
  }
  .picks-event-container.columns-5 .bet-section-container .bet-section {
    width: 100%;
  }
  .picks-event-container.columns-5 .bet-section-container.bet-section-container-moneyline {
    width: 17%;
  }
  .picks-event-container.columns-5 .bet-section-container.bet-section-container-spread {
    width: 17%;
  }
  .picks-event-container.columns-5 .bet-section-container.bet-section-container-team {
    width: 25%;
  }
  .picks-event-container.columns-5 .bet-section-container.bet-section-container-total {
    width: 17%;
  }
}
.make-picks-filters {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .make-picks-filters {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .make-picks-filters {
    display: none;
  }
}
.make-picks-filters ul {
  list-style-type: none;
  padding-left: 0;
}
.make-picks-filters ul li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
}
.make-picks-filters ul li a.active {
  border-bottom: 1px solid #21759b;
}
.leaderboard-table {
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
}
@media (min-width: 480px) {
  .leaderboard-table {
    table-layout: fixed;
  }
}
.leaderboard-table thead tr th {
  text-align: center;
  font-size: 12px;
  padding: 8px 2px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .leaderboard-table thead tr th {
    padding: 15px 4px 15px 4px;
  }
}
@media (min-width: 992px) {
  .leaderboard-table thead tr th {
    padding: 15px 8px 15px 8px;
  }
}
.leaderboard-table thead tr th.active {
  border-bottom: 2px solid #21759b;
  background-color: white;
}
.leaderboard-table thead tr th a {
  color: #6a6b6c;
}
.leaderboard-table tbody tr td {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding: 5px 2px;
}
@media (min-width: 768px) {
  .leaderboard-table tbody tr td {
    padding: 15px 8px 15px 8px;
    font-size: 14px;
  }
}
.leaderboard-table tbody tr td.active {
  font-weight: 700;
  background-color: transparent;
}
.leaderboard-table tbody tr td.rank {
  font-size: 12px;
  color: #515252;
}
@media (min-width: 768px) {
  .leaderboard-table tbody tr td.rank {
    font-size: 16px;
  }
}
.leaderboard-table tbody tr td.actions {
  width: 100px;
}
.leaderboard-table tbody tr td.actions .btn-action {
  margin-right: 5px;
}
.leaderboard-table tbody tr td.pages {
  text-align: left;
}
.leaderboard-table tbody tr td.username {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .leaderboard-table tbody tr td.username {
    font-size: 16px;
  }
}
.leaderboard-table tbody tr td.username .avatar {
  display: none;
  margin-right: 6px;
}
@media (min-width: 768px) {
  .leaderboard-table tbody tr td.username .avatar {
    display: inline-block;
  }
}
.leaderboard-table .rank {
  width: 30px;
}
@media (min-width: 480px) {
  .leaderboard-table .rank {
    width: 50px;
  }
}
@media (min-width: 768px) {
  .leaderboard-table .rank {
    width: 50px;
  }
}
@media (min-width: 992px) {
  .leaderboard-table .rank {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .leaderboard-table .rank {
    width: 50px;
  }
}
.leaderboard-table .username {
  text-align: left;
  max-width: 70px;
}
@media (min-width: 480px) {
  .leaderboard-table .username {
    max-width: 140px;
  }
}
@media (min-width: 768px) {
  .leaderboard-table .username {
    max-width: auto;
  }
}
@media (min-width: 992px) {
  .leaderboard-table .username {
    max-width: auto;
  }
}
@media (min-width: 1200px) {
  .leaderboard-table .username {
    max-width: auto;
  }
}
.leaderboard-table .profit {
  width: 40px;
}
@media (min-width: 480px) {
  .leaderboard-table .profit {
    width: 60px;
  }
}
@media (min-width: 650px) {
  .leaderboard-table .profit {
    width: 90px;
  }
}
@media (min-width: 768px) {
  .leaderboard-table .profit {
    width: 65px;
  }
}
@media (min-width: 992px) {
  .leaderboard-table .profit {
    width: 70px;
  }
}
@media (min-width: 1200px) {
  .leaderboard-table .profit {
    width: 120px;
  }
}
.leaderboard-table .roi {
  width: 40px;
}
@media (min-width: 768px) {
  .leaderboard-table .roi {
    width: 60px;
  }
}
@media (min-width: 650px) {
  .leaderboard-table .roi {
    width: 90px;
  }
}
@media (min-width: 768px) {
  .leaderboard-table .roi {
    width: 65px;
  }
}
@media (min-width: 992px) {
  .leaderboard-table .roi {
    width: 70px;
  }
}
@media (min-width: 1200px) {
  .leaderboard-table .roi {
    width: 120px;
  }
}
.leaderboard-table .win-loss {
  min-width: 55px;
}
@media (min-width: 480px) {
  .leaderboard-table .win-loss {
    width: 70px;
  }
}
@media (min-width: 650px) {
  .leaderboard-table .win-loss {
    width: 90px;
  }
}
@media (min-width: 768px) {
  .leaderboard-table .win-loss {
    width: 75px;
  }
}
@media (min-width: 992px) {
  .leaderboard-table .win-loss {
    width: 80px;
  }
}
@media (min-width: 1200px) {
  .leaderboard-table .win-loss {
    width: 120px;
  }
}
.leaderboard-table .avg-odds {
  display: none;
}
@media (min-width: 480px) {
  .leaderboard-table .avg-odds {
    display: table-cell;
    width: 70px;
  }
}
@media (min-width: 650px) {
  .leaderboard-table .avg-odds {
    width: 90px;
  }
}
@media (min-width: 768px) {
  .leaderboard-table .avg-odds {
    width: 80px;
  }
}
@media (min-width: 992px) {
  .leaderboard-table .avg-odds {
    width: 85px;
  }
}
@media (min-width: 1200px) {
  .leaderboard-table .avg-odds {
    width: 120px;
  }
}
.leaderboard-table .avg-bet {
  display: none;
}
@media (min-width: 480px) {
  .leaderboard-table .avg-bet {
    display: table-cell;
    width: 60px;
  }
}
@media (min-width: 650px) {
  .leaderboard-table .avg-bet {
    width: 90px;
  }
}
@media (min-width: 768px) {
  .leaderboard-table .avg-bet {
    width: 70px;
  }
}
@media (min-width: 992px) {
  .leaderboard-table .avg-bet {
    width: 75px;
  }
}
@media (min-width: 1200px) {
  .leaderboard-table .avg-bet {
    width: 120px;
  }
}
.leaderboard-table .actions {
  max-width: 52px;
}
@media (min-width: 480px) {
  .leaderboard-table .actions {
    max-width: auto;
    width: 70px;
  }
}
.leaderboard-sm .avatar {
  margin-right: 10px;
}
.leaderboard-sm thead tr th {
  text-align: center;
}
.leaderboard-sm thead tr th.active {
  border-bottom: 2px solid #21759b;
  background-color: white;
}
.leaderboard-sm thead tr th a {
  color: #6a6b6c;
}
.leaderboard-sm tbody tr td.active {
  font-weight: 700;
  background-color: transparent;
}
.leaderboard-filter {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}
@media (min-width: 480px) {
  .leaderboard-filter {
    padding: 20px;
  }
}
.leaderboard-filter .rank {
  text-align: center;
}
.leaderboard-filter .rank .rank-number {
  font-size: 40px;
  color: #5d5e5f;
}
.leaderboard-filter h2 {
  margin: 0;
  font-size: 16px;
}
.leaderboard-filter .form-control {
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .leaderboard-filter .filters .row:last-of-type .form-control {
    margin-bottom: 0;
  }
}
#discover {
  padding-top: 20px;
}
.btn-bet-slip {
  background-color: #104673;
  margin-right: 30px;
  border-radius: 0;
  color: white;
  padding: 3px 0;
  width: 100%;
}
@media (min-width: 480px) {
  .btn-bet-slip {
    width: 240px;
  }
}
.bet-slip-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
  z-index: 50;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media (min-width: 480px) {
  .bet-slip-container {
    right: 10px;
    width: 240px;
  }
}
.bet-slip-container.show {
  min-height: 500px;
  width: 100%;
}
@media (min-width: 480px) {
  .bet-slip-container.show {
    width: 300px;
  }
}
.bet-slip-container .bet-slip {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: none;
}
.bet-slip-container .bet-slip h1 {
  font-size: 18px;
  margin: 0;
  padding: 8px;
  text-align: center;
  background-color: #104673;
  color: white;
  border-bottom: 1px solid #eeeeee;
}
.bet-slip-container .bet-slip h1 .close {
  line-height: 0.75;
  color: white;
}
.bet-slip-container .bet-slip .picks-container {
  position: absolute;
  top: 35px;
  bottom: 70px;
  right: 20px;
  left: 20px;
  overflow-y: scroll;
}
.bet-slip-container .bet-slip .picks-container h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container {
  background-color: #fafafa;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container.error {
  border: 1px solid rgba(233, 137, 58, 0.7) !important;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container .bet-slip-pick {
  border-bottom: 1px solid white;
  padding: 10px;
  position: relative;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container .bet-slip-pick.error {
  border: 1px solid rgba(233, 137, 58, 0.7) !important;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container .bet-slip-pick:last-of-type {
  border-bottom: 0;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container .bet-slip-pick .heading {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 4px;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container .bet-slip-pick .remove-container {
  position: absolute;
  top: 5px;
  right: 10px;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container .bet-slip-pick .values-container {
  margin-top: 5px;
}
.bet-slip-container .bet-slip .picks-container .bet-slip-pick-container .bet-slip-pick .values-container .changed {
  border: 1px solid rgba(233, 137, 58, 0.7) !important;
}
.bet-slip-container .bet-slip .picks-container .error-message-container {
  position: fixed;
  right: 25px;
  background-color: rgba(238, 238, 238, 0.8);
  color: #e9893a;
  margin: 5px;
  bottom: 70px;
  width: 240px;
  padding: 3px;
}
.bet-slip-container .bet-slip .submit-btn-container {
  border-top: 2px solid #dddddf;
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
}
.team-name-header {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}
@media (min-width: 1400px) {
  .bet-slip-container.picks-page {
    display: block !important;
    position: fixed;
    right: 0;
    width: 300px;
    padding: 20px;
    bottom: 0;
    top: 60px;
    border-left: 2px solid #dddddf;
    margin-left: 20px;
    overflow-y: scroll;
    background-color: transparent;
    box-shadow: none;
  }
  .bet-slip-container.picks-page .bet-slip {
    display: block !important;
  }
  .bet-slip-container.picks-page .bet-slip .picks-container {
    top: 60px;
  }
  .bet-slip-container.picks-page .bet-slip .bet-slip-pick-container {
    background-color: white;
  }
  .bet-slip-container.picks-page .bet-slip .bet-slip-pick-container .bet-slip-pick {
    border-bottom: 1px solid #eaeaea;
  }
  .bet-slip-container.picks-page h1 {
    text-align: center;
    background-color: transparent;
    color: #6a6b6c;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #dddddf;
    padding: 0 0 15px 0;
    display: block;
    margin: 20px 20px 0 20px;
  }
  .bet-slip-container.picks-page h1 .close {
    display: none;
  }
  .bet-slip-container.picks-page .btn-bet-slip {
    display: block;
  }
}
@media (min-width: 1400px) and (min-width: 480px) {
  .bet-slip-container.picks-page .btn-bet-slip {
    display: none;
  }
}
.pick-table th {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}
.pick-table tbody tr.win .profit,
.pick-table tbody tr.win .roi {
  color: #4caf50;
}
.pick-table tbody tr.loss .profit,
.pick-table tbody tr.loss .roi {
  color: #f44336;
}
.pick-table tbody tr td {
  vertical-align: middle;
  color: #515252;
  font-size: 13px;
}
.pick-table tbody tr td.time {
  color: #6a6b6c;
  font-size: 12px;
}
.pick-table tbody tr td.bet-duration {
  font-size: 12px;
  width: 110px;
}
.pick-table tbody tr td.game-name .selected {
  color: #21759b;
}
.pick-table tbody tr td.game-name .score {
  display: inline-block;
  width: 35px;
}
.pick-table tbody tr td.game-name.winner-1 .score-1 {
  font-weight: bold;
}
.pick-table tbody tr td.game-name.winner-2 .score-2 {
  font-weight: bold;
}
.pick-table tbody tr td.actions {
  font-size: 16px;
}
.auth-form {
  margin: 0 auto;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.avatar.avatar-sm {
  border-radius: 40px;
  height: 40px;
  width: 40px;
}
#profile {
  padding-top: 20px;
}
.profile-info {
  text-align: center;
}
.profile-info h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 6px;
}
.profile-info .count {
  color: #2b2b2c;
  font-size: 15px;
  margin-right: 7px;
  display: inline-block;
}
.profile-info .follow-count-text {
  font-size: 13px;
  font-weight: 700;
}
.profile-stats .performance-container {
  margin-top: 10px;
}
.profile-stats .trending-stats {
  border-right: 1px solid #eaeaea;
}
.profile-stats .statistic {
  width: 50%;
  float: left;
  height: 50px;
}
.profile-stats .statistic .statistic-icon {
  display: inline-block;
  vertical-align: top;
}
.profile-stats .statistic .statistic-icon .fa {
  font-size: 28px;
  margin-right: 5px;
  width: 40px;
}
.profile-stats .statistic .statistic-icon .fa-line-chart {
  color: #4caf50;
}
.profile-stats .statistic .statistic-icon .fa-refresh {
  color: #21759b;
}
.profile-stats .statistic .statistic-icon .fa-bar-chart {
  color: #f44336;
}
.profile-stats .statistic .statistic-icon .fa-align-left {
  color: #607d8b;
}
.profile-stats .statistic .statistic-icon .fa-database {
  color: #9e9e9e;
}
.profile-stats .statistic .statistic-icon .fa-sort-numeric-asc {
  color: #009688;
}
.profile-stats .statistic .statistic-value-container {
  display: inline-block;
  vertical-align: top;
}
.profile-content {
  min-height: 500px;
}
.profile-content .nav-tabs {
  font-size: 16px;
  color: #2b2b2c;
}
.profile-content .nav-tabs li a {
  color: #2b2b2c;
  font-weight: 700;
}
.following-card .header {
  padding: 15px 40px 15px 15px;
}
.following-card .header .avatar {
  float: left;
}
.following-card .header .user-info {
  overflow: hidden;
  padding-left: 15px;
}
.following-card .header .user-info .username {
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.following-card .header .user-info .statistics .stat-container {
  width: 33.333%;
  float: left;
  text-align: center;
}
.pick-list .pick {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}
.pick-list .pick:last-of-type {
  border-bottom: 0;
}
.pick-list .pick .pick-container .bet-name {
  text-transform: uppercase;
  font-size: 14px;
  color: #2b2b2c;
  margin-bottom: 5px;
}
.pick-list .pick .pick-container .bet-duration {
  font-size: 11px;
  color: #6a6b6c;
  display: inline-block;
  margin-left: 8px;
}
.pick-list .pick .pick-container .statistics {
  width: 100%;
}
.pick-list .pick .pick-container .statistics .stat-container {
  width: 20%;
  float: left;
  text-align: center;
}
.event-pick-list .event-header {
  border-top: 1px solid #eaeaea;
  padding: 0 10px;
}
.event-pick-list .event-header .category {
  text-transform: uppercase;
  color: #2b2b2c;
}
.event-pick-list .event-header .contestant-table {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  color: #2b2b2c;
}
.event-pick-list .event-header .contestant-table .time {
  text-align: center;
  border-right: 1px solid #eaeaea;
  width: 70px;
}
.event-pick-list .event-header .contestant-table .contestant-1 {
  border-bottom: 1px solid #eaeaea;
}
.event-pick-list .event-header .contestant-table .contestant-1,
.event-pick-list .event-header .contestant-table .contestant-2 {
  padding: 3px;
}
