body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #eeeeee;
}
#content {
  margin-top: 60px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#content.auth {
  margin-left: 200px;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #bababa;
}
#auth-side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #21759b;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#top-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#top-menu.auth {
  left: 200px;
}
#top-menu ul {
  float: right;
  height: 60px;
}
#top-menu ul li {
  display: inline-block;
  line-height: 60px;
}
#top-menu ul li a {
  height: 60px;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 20px;
  color: lightgray;
  font-size: 18px;
}
#top-menu ul li a:hover {
  color: #bababa;
}
#top-menu .logo-container {
  line-height: 60px;
  padding: 0 50px;
  display: inline-block;
}
#top-menu .search-container {
  line-height: 60px;
  display: inline-block;
}
#top-menu .search-container .fa-search {
  color: rgba(211, 211, 211, 0.5);
  font-size: 16px;
}
#top-menu .search-container input {
  margin-left: 10px;
  border: none;
  line-height: 40px;
}
#top-menu .search-container input:focus {
  outline: none;
}
