<div id="press" data-ng-controller="PressController">
    <div class="panel" data-ng-click="press[7].show = !press[7].show">
        <div class="panel-body">
            <div class="col-sm-3 text-center">
                <img src="/modules/fu/client/img/press/calvin-ayre.png"/>
            </div>
            <div class="col-sm-9">
                <h2>How Increased Availability of Data is Changing Sports Betting Landscape</h2>
                <h4>March 17, 2016</h4>
                <p>
                    The increased availability of data has forever changed trading patterns in the sports betting industry. More than ever before sports bettors have access to the same information as traders do, with plenty of “tipster” and data crunching websites dedicated to making the sports better smarter. What this means for the bookies we have yet to determine, but its certainly appears to be good news for sports bettors and enthusiasts.
                </p>
                <p>
                    FansUnite is a site that has been created to take the financial risk out of betting and to make sports bettors sharper. FansUnite CEO and Co-Founder Darius Eghdami has provided a platform where users can place wagers with a free virtual currency, track and compare their results to thousands of other sports bettors who they can also collaborate with. It’s a “crowd sourcing of handicappers’ picks” with a social, community-type feel.
                </p>
                <div data-ng-show="press[7].show">
                    <p>
                        “When we initially created FansUnite, we specifically set out to not create another tipster website. We wanted to build a platform that gave sports bettors the tools and data to become more profitable. We believe that players have a higher chance of profitably when they are given the information they need to make the right decision”, Eghdami shared.
                    </p>
                    <p>
                        He continued, “Tipster sites are traditionally one way and one dimensional. Expert tipsters make their picks and explain it to the audience, while clients can decide whether they want to trust the tip or not. Tipster sites are service driven as you pay to access a piece of information”.
                    </p>
                    <p>
                        “FansUnite is a platform which allows members to not only make picks, but share their picks and collaborate with the community; we aren’t trying to push our picks on users. We are not creating a single source of picks, but rather, creating multiple sources of picks with a fully verified and transparent history”, he said.
                    </p>
                    <p>
                        What’s truly unique about FanUnite as a site to educate bettors is the nature of the data it provides to its users.
                    </p>
                    <p>
                        “We’ve also given our community tools to increase their own profitability. Our PickTracker is a powerful resource which will quickly identify areas that a given member is doing well and areas in which the same member is leaking profit. We have many members that specialize in a given league, and together, we can increase all of our profits”.
                    </p>
                    <p>
                        Such increased availability of data for sports bettors is bound to impact trading behaviors and Eghdami believes the ripple effect is in its infancy stage.
                    </p>
                    <p>
                        “I think traders are only beginning to become aware of the utility of the  data that FansUnite offers. The importance of specialization is starting to be realized by the public betting conscience. The days of traders thinking they can be masters in every league they touch are fading and a collaborative approach is taking over. By providing our members with an increased availability of data we’re seeing them bet more often and be more profitable”, he said.
                    </p>
                    <p>
                        FansUnite is an American company based in Boulder, Colorado, an interesting location considering the legality (or lack-thereof) of sports betting in the country. When asked what he thinks the future will bring for the legality of sports betting in America, Eghdami remains optimistic.
                    </p>
                    <p>
                        “While sports betting has always been a legal and legitimate form of entertainment in much of the world, it is only recently that North America’s legal betting market has gained traction. I’d like to echo Adam Silver’s comments that whether you have a gentlemen’s bet, or a small $5 wager on a game, you are suddenly a lot more engaged, and isn’t that what all major sports are striving for?”
                    </p>
                    <p>
                        He continued, “Sports betting and daily fantasy drive interest and viewership, which is why we are getting a push from some of the major leagues to legalize and regulate sports betting. FanDuel and Draftkings have grown so popular in such a short time, through a loophole in gaming laws. With the momentum they’ve created, it doesn’t make sense not to legalize sports betting. The population has shown they want it, and North Americans are finding a way to bet whether it’s legal or not. So I believe it’s just a matter of time, and we are perfectly situated to take advantage of it when it does”.
                    </p>
                    <p>
                        Another area of enormous growth in the sports betting industry is eSports and FansUnite has already taken advantage of this blossoming sector.
                    </p>
                    <p>
                        “The rise of eSports has been pretty spectacular to watch over the last few years and will continue to exponentially grow. Talking to many of the sportsbooks, they re-iterate to us that it is their fastest growing sport. We continue to try and increase our presence in eSports due to the recent growth in not just bettors, but viewers and players as well. It’s a fun industry to be involved in, and we have some pretty amazing eSports bettors on FansUnite with esportsbettor and J_Yanez who at times I think know more than the oddsmakers!”
                    </p>
                    <p>
                        As a start-up company in the sports betting arena, FansUnite has done an outstanding job differentiating themselves from other companies competing in this space. They’ve been accepted into the Boulder-based BoomTown Accelerator Program and according to Eghdami, the team at Boomtown has helped FansUnite refine their vision and reimagine what the company can be.
                    </p>
                    <p>
                        His best piece of advice to other start-ups providing data in the sports betting space?
                    </p>
                    <p>
                        “Talk to as many of your potential customers as you can and take guessing out of the equation so you can make sure you are solving their pain points. For the majority of people in our space, sports betting is not only about profitability so make sure you find what keeps them engaged and excited. Whether it’s allowing them to broadcast their wins, positive feedback or some sense of accomplishment when they are profitable”.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" data-ng-click="press[6].show = !press[6].show">
        <div class="panel-body">
            <div class="col-sm-3 text-center">
                <img src="/modules/fu/client/img/press/sbc.png"/>
            </div>
            <div class="col-sm-9">
                <h2>Sports Prediction Platform FansUnite Launches New Interface</h2>
                <h4>March 10, 2016</h4>
                <p>
                    Based in Boulder, Colorado sports prediction platform FansUnite.com has announced the global release of its new user interface.
                </p>
                <p>
                    The new platform was created based on feedback received from FansUnite beta users.  The latest platform has added some progressive features and bold ideas with a view to giving sports bettors the tools and data needed to become more profitable.
                </p>
                <div data-ng-show="press[6].show">
                    <p>
                        <strong>Darius Eghdami, FansUnite CEO</strong>, said this of the announcement: “We are thrilled about the new platform launch. Our team did a tremendous job listening to our community and building a product that they wanted.”
                    </p>
                    <p>
                        The new UI is focused on four key factors. There are now channels which can be subscribed to which will ensure only the information users want to see is displayed. Usability was another important factor in the development; the FansUnite team redesigned the platform’s core pages to enhance the experience and make it easier to navigate.  It ensures that all the information a user may need is on hand. The site also offers an increase in betting options, and is working on introducing live betting too.  Speed completes the four areas of focus, and a statement from the company says that speed testing has highlighted a more responsive platform.
                    </p>
                    <p>
                        Eghdami added: “The new FansUnite is a great leap towards redefining the individual betting experience.  The promise of collaboration and transparency are much needed in the gaming industry.”
                    </p>
                    <p>
                        FansUnite is a social sports betting community started in 2014 by three sports fans. Users are able to take part without any monetary risk should they so choose, by utilising the site’s free virtual currency.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" data-ng-click="press[5].show = !press[5].show">
        <div class="panel-body">
            <div class="col-sm-3 text-center">
                <img src="/modules/fu/client/img/press/sbc.png"/>
            </div>
            <div class="col-sm-9">
                <h2>Darius Eghdami – FansUnite – Social Betting: Why Virtual is a Reality</h2>
                <h4>July 23, 2015</h4>
                <p>
                    <strong>FansUnite</strong> was started by three sports fans in Canada, and intends to be a site for fellow fans offering transparency, fun, and top wagering advice via its social betting platform and community.
                </p>
                <p>
                    FansUnite  utilises virtual currency meaning, should they opt to, users are able to bet on sports without the risk of losing any actual money. A place for gamblers of all types to hone their skills, and interact.Team SBC caught up with <strong>CEO, Darius Eghdami</strong> to talk about all things FansUnite, as well as social betting and Bitcoin.
                </p>

                <div data-ng-show="press[5].show">
                    <p>
                        <strong>
                            SBC: Darius, could you please describe to our readers what it is FansUnite offers, and how it differs to other betting operators?
                        </strong>
                    </p>
                    <p>
                        <strong>Darius:</strong> FansUnite gives users the opportunity to practice and bet on sports without the monetary risk.  Our community is comprised of users that exchange ideas, discuss upcoming games and share betting strategies so that they can be confident with their picks.
                    <p>
                        We differentiate ourselves by giving users access to thousands of handicappers, with full transparency behind their betting history, for a fraction of the cost of what most individual handicappers charge. We also separate ourselves by providing our community with PickTracker, an analytics engine we developed that identifies strengths and weaknesses that help users critically examine their betting patterns, as well as their peers’.
                    </p>
                    </p>

                    <p>
                        <strong>
                            SBC: The monthly Revenue Share scheme seems an attractive and innovative inclusion. Could you tell us a little more about this, and how it’s been going since its launch?
                        </strong>
                    </p>
                    <p>
                        <strong>Darius:</strong> The entire premise of our site is to beat the books together.  The idea behind the Revenue Share is to give back to our community. Since launch, the top users each month have been unbelievable in sharing and contributing their thoughts and bets, so giving them a percentage of our subscription revenue is a great way to thank them.
                    <p>
                        Although the revenue share scheme is a new initiative, we’ve set up the structure to give each of our top 5 handicappers, 5% of our monthly subscription revenue. As our community continues to grow, we hope this will be a sizeable pot for each handicapper where they could potentially make a living off FansUnite.
                    </p>
                    </p>


                    <p>
                        <strong>
                            SBC: Which sports are proving the most popular to date, and are there any plans to establish a presence in any new markets?
                        </strong>
                    </p>
                    <p>
                        <strong>Darius:</strong> FansUnite is a Canadian based company, so a lot of our users place bets on the major North American sports. NFL betting is massive as well as college basketball, come March. While football (soccer) is the most widely bet sport on our platform, we have a great community focused on Tennis, Rugby, Aussie Rules and more.
                    <p>
                        The fastest growing sport is eSports, as we’ve seen a massive emergence in this market over the last 12 months. This is a space we definitely want to increase our presence in, and it’s been remarkable to see the recent growth in not just bettors, but viewers and players as well.
                    </p>
                    </p>

                    <p>
                        <strong>
                            SBC: You previously founded CappersDelight, and worked at KPMG. How did the idea for Fansunite come about, and what convinced you to run with it?
                        </strong>
                    </p>
                    <p>
                        <strong>Darius:</strong> CappersDelight was an amazing experience as it really highlighted the areas of the betting industry that we wanted to change. We ran CappersDelight for a couple years where we were just another handicapping service, hiding our full record and charging high subscription fees while our members had to ride the ups and downs of an individual handicapper. Coupled with the ongoing issues of transparency and verifiability, it confirmed to us that the traditional handicapping market was in need of massive changes.
                    <p>
                        We ran with the idea of FansUnite as we wanted to try and bring the suspect betting services out of the shadows by ensuring that the records of all members on our platform are transparent, available, and verifiable. As avid sports fans and bettors, we couldn’t think of anything cooler than building a platform that increased the profitability for sports bettors.
                    </p>
                    </p>

                    <p>
                        <strong>
                            SBC: Are you anticipating an increase in the number of betting operators that accept Bitcoin? What are the advantages, and difficulties, of this form of currency?
                        </strong>
                    </p>
                    <p>
                        <strong>Darius:</strong> The Bitcoin industry is a very interesting one, as the older community doesn’t really understand what Bitcoin is, and the younger guys are starting to become wary of it. That being said, the thought of a reliable crypto-currency that allows an individual to remain anonymous can be very advantageous.
                    <p>
                        The team are big supporters of Bitcoin and would love to see it become a mainstay in the betting industry. We’ve been fortunate enough to team up with Nitrogen Sports in the running of our streak contests, which has been great. Unfortunately, I do not see Bitcoin becoming an accepted currency for the major sportsbooks. I think the smaller players will pick up on Bitcoin as a way to access a new user base, but I think the major ‘books will continue to avoid it as there are just too many uncertainties that accompany it. Although there are always fluctuations in currency value, Bitcoin is subject to extreme variances, which I think will continue to scare many sportsbooks.
                    </p>
                    </p>

                    <p>
                        <strong>
                            SBC: Any final thoughts to share?
                        </strong>
                    </p>
                    <p>
                        <strong>Darius:</strong> FansUnite is building a community of profitable sports bettors by accessing the large betting community with access to modern technology and analytics. It makes sense to provide transparent and verified data. We want to make sure our users feel comfortable with our offering and give them the best chance to succeed in sports betting.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel" data-ng-click="press[1].show = !press[1].show">
        <div class="panel-body">
            <div class="col-sm-3 text-center">
                <img src="/modules/fu/client/img/press/calvin-ayre.png"/>
            </div>
            <div class="col-sm-9">
                <h2>FansUnite Launches New Analytics Platform For Sports Betting</h2>
                <h3>Increase your returns by leveraging our site to crowd source handicappers’ picks.</h3>
                <h4>February 11, 2015</h4>
                <p>
                    <strong>Vancouver, February 5, 2015:</strong> Darius Eghdami, CEO of FansUnite, has been bringing more transparency to the field of sports handicapping for the past 4 years. FansUnite continues to push out new features that enable users to  improve their returns by following top betting pro’s and analyzing their own betting patterns and results. FansUnite rolls out their much-anticipated PickTracker software today. This feature will enable users to analyze their betting history by allowing the user to view historical data and break down their past picks by sport, league, or bet-type and helping the user to look critically at their own betting patterns.
                </p>

                <div data-ng-show="press[1].show">
                    <p>
                        The idea behind FansUnite was originally conceptualized when Darius was a casual sports handicapper. He realized that in an industry where sports betting enthusiasts were often willing to invest in costly monthly subscriptions to follow a handicapper’s picks, it was relatively easy for these “professionals” to hide their comprehensive records because they would only selectively show their winning results to reflect their success. This slanted portrayal of “success” obviously put potential subscribers at a huge disadvantage when choosing whom to follow, as there is little transparency and resulted as the impetus behind FansUnite.
                    </p>
                    <p>
                        Unlike traditional handicapping sites that offer insight into the general consensus of picks, the FansUnite platform is based on the notion that bettors no longer need to blindly follow “pros” because they can further research the historical data of the handicappers they follow in order to gain greater access and insight based on real analytics.
                    </p>
                    <p>
                        FansUnite continues to evolve and produce more tools to improve the handicapping model to provide their user base more and more information. Every pick on the site goes through their proprietary algorithm to determine whether the pick is a “Pro Pick” based on factors such as the success and history on that sport and the teams involved. The FansUnite platform is attracting “pros” and their top handicappers are proving to be 10% more successful than the industry average. As an example, if you had bet $100 on every FansUnite NBA Pro Pick in January 2015, the profit would have been over $19,000.
                    </p>
                    <p>
                        Headquartered in Vancouver, Canada, FansUnite specializes in crowd sourcing of handicappers’ picks to earn you more money. With a social aspect behind making your picks, the tight-knit FansUnite community is in it to “beat the books” together.
                    </p>
                    <p>
                        <strong>About Darius Eghdami</strong>
                    </p>
                    <p>
                        Darius is a Chartered Accountant and paused his career to pursue a passion in the sports handicapping world. As an avid sports bettor, he wanted to build a platform to level the playing field and bring some transparency to the industry.
                    </p>

                    <p>
                        <strong>The Industry</strong>
                    </p>
                    <p>
                        Is everyone getting involved in betting and fantasy? It sure seems like it. Just this past weekend, according to an estimate done by the American Gaming Association, Americans were expected to wager $3.8 billion worth of illegal bets on the 2015 Super Bowl alone.
                    </p>
                    <p>
                        Comparing these figures to an estimated $1 billion being wagered on the English Premier League each week, and Interpol estimating that the unregulated Asian betting market is worth over $500 billion alone per year, the betting industry is continuing to sky rocket.
                    </p>
                    <p>
                        In the Premier League, four of the 20 teams are sponsored directly by sports books:
                    </p>
                    <ul>
                        <li>Aston Villa – 2 year contract with Dafabet for $16.5 million;</li>
                        <li>Burnley – 2 year contract with Fun 88 (Asian gambling house) for $3.3 million;</li>
                        <li>Hull City – 1 year contract with 12 Bet for $2.6 million;</li>
                        <li>Stoke City – will receive $5.5 million from Bet 365.</li>
                        <li>Crystal Palace will receive $1.5 million from Neteller, an online gambling payment processor.</li>
                    </ul>
                    <p>
                        With the recent noise coming from NBA Commissioner Adam Silver, and Dallas Mavericks Owner Mark Cuban, along with our own research, we are confident that there is going to be a massive shift in the American sports betting market. Adam Silver stated that Congress should legalize sports betting and instituted a regulation scheme. Silver cited estimates that nearly $400 billion is illegally wagered on sports each year. We strongly believe FansUnite is perfectly situated to take advantage of this shift.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel" data-ng-click="press[2].show = !press[2].show">
        <div class="panel-body">
            <div class="col-sm-3 text-center">
                <img src="/modules/fu/client/img/press/sbc.png"/>

            </div>
            <div class="col-sm-9">
                <h2>Social betting site FansUnite launches PickTracker</h2>
                <h4>February 11, 2015</h4>
                <p>
                    FansUnite, a social betting site that uses virtual currency, has rolled out its much-anticipated PickTrackersoftware. This feature will enable users to analyse their betting history by allowing the user to view historical data and break down their past picks by sport, league, or bet-type and helping the user to look critically at their own betting patterns.
                </p>
                <p>
                    The idea behind FansUnite was originally developed when CEO Darius Eghdami, a casual sports handicapper, realised that there was very little transparency in the performance of professional handicappers, despite the fact that sports betting enthusiasts were often willing to invest in costly monthly subscriptions.
                </p>
                <div data-ng-show="press[2].show">
                    <p>
                        Unlike traditional handicapping sites that offer insight into the general consensus of picks, the FansUnite platform is based on the notion that bettors no longer need to blindly follow “pros” because they can further research the historical data of the handicappers they follow in order to gain greater access and insight based on real analytics.
                    </p>
                    <p>
                        FansUnite continues to evolve and produce more tools to improve the handicapping model to provide their user base more and more information. Every pick on the site goes through their proprietary algorithm to determine whether the pick is a “Pro Pick” based on factors such as the success and history on that sport and the teams involved. The FansUnite platform is attracting “pros” and their top handicappers are proving to be 10% more successful than the industry average. As an example, if you had bet $100 on every FansUnite NBA Pro Pick in January 2015, the profit would have been over $19,000.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel" data-ng-click="press[3].show = !press[3].show">
        <div class="panel-body">
            <div class="col-sm-3 text-center">
                <img src="/modules/fu/client/img/press/gambling-post.png"/>

            </div>
            <div class="col-sm-9">
                <h2>FansUnite Launched a Betting Advisor</h2>
                <h4>February 4, 2015</h4>
                <p>
                    FansUnite, a social betting site has launched a PickTracker software that allows players to analyze their betting history and make a critical review of the used betting patterns.
                </p>
                <p>
                    The original idea of creating FansUnite first came to Darius Eghdami, a casual sports handicapper, upset with not enough transparency in the professional handicappers’ performance.
                </p>
                <p>
                    The key difference of the site from its traditional handicapping analogues is that it offers insight into the general consensus of choices made. The used platform lets players to no longer blindly follow “pros”. Instead it provides an opportunity to research the historical data of the handicappers they follow in order to gain advantage based on real analytics.
                </p>
                <p>
                    FansUnite keeps on evolving and producing extra tools to deliver more information to their users. Each pick done on a website is checked if it’s a “Pro Pick” based on real factors such as the success and history of that sport and teams involved.
                </p>
                <div data-ng-show="press[3].show">
                    <p>
                        The statistics proves that the the FansUnite handicappers are to be 10% more successful than the industry average.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel" data-ng-click="press[0].show = !press[0].show">
        <div class="panel-body">
            <div class="col-sm-3 text-center">
                <img src="/modules/fu/client/img/press/vancouver-sun.png"/>
            </div>
            <div class="col-sm-9">
                <h2>FansUnite wagers on sports and fans' desire to win money</h2>
                <h3>New game in town: Partners launch 'virtual playground for sports bettors'</h3>
                <h4>January 16, 2014 - Malcolm Parry, Vancouver Sun</h4>
                <p>
                    BUSINESS LUNCH: At Homerand-Smithe's Homer Street Cafe Tuesday, Darius Eghdami relished the $20 daily roast and an $11 Zuccardi 'Q' Tempranillo 09 Mendoza. It's a safe bet he'll return to the Paris-like eatery. In fact, safe bets are his game, such as graduating as a chartered accountant to article at KPMG. Beyond that, he and like-aged Duncan McIntyre and Nicolas Shuster recently raised $250,000 to launch and develop a beta version of FansUnite.
                </p>
                <div data-ng-show="press[0].show">
                    <p>
                        "It's a virtual playground for sports bettors," said lifetime fan Eghdami, who, with the others, ran a handicapping system until 2011: "I charged $70 a week and sat at the back in class at UBC, making picks."
                    </p>
                    <p>
                        Today, he says paying one handicapper is a mug's game. That's because FansUnite's platform (fansunite.com) aims to include "10,000 handicappers who are making picks while we are tracking their records and verifying them ... so you can filter those who are best by week, month and all-time, by sports, by team and by betting type - outright win, spread, over-under." All for $15 a month, which FansUnite will charge after releasing fully this summer.
                    </p>
                    <p>
                        "Our motto is making betting social, Our goal is to make everybody win more money" said Eghdami, whose developer-father Kombiz's VLINX ecommerce trading platform "was a big help in setting up FansUnite."
                    </p>
                    <p>
                        Only those who view FansUnite's handicapper picks will pay. Others ers may exercise betting skills riskfree with free virtual currency that is renewed monthly. Meanwhile, "The sports books are all looking to link up with a social platform," Eghdami said, "and we are providing them with a more-educated bettor."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel" data-ng-click="press[4].show = !press[4].show">
        <div class="panel-body">
            <div class="col-sm-3 text-center">
                <img src="/modules/fu/client/img/press/twitter-logo.png"/>
            </div>
            <div class="col-sm-9">
                <h2>Behind the Bets Tweets FansUnite is the Leader in 3rd Party Bet Tracking Software</h2>
                <h4>March 31, 2015</h4>
                <p>
                    <img src="/modules/fu/client/img/press/behind-the-bets.png"/>
                </p>
            </div>
        </div>
    </div>
</div>





