<div class="panel">
    <div class="panel-heading">
        <h3>Contact</h3>
    </div>
    <div class="panel-body">
        <h4>General Inquiries, Advertising and Support</h4>
        <p>
            If you have any questions, concerns or comments about the website please contact us at:
        </p>
        <p>
            <a href="mailto:info@fansunite.com">Info@fansunite.com</a>
        </p>
        <h4>Connect</h4>
        <a href="https://www.facebook.com/TheFansUnite?ref=br_tf" target="_blank">
            <img src="modules/fu/client/img/social/facebook.jpg">
        </a>
        <a href="https://twitter.com/fansunite" target="_blank">
            <img src="modules/fu/client/img/social/twitter.png">
        </a>
        <a href="https://www.youtube.com/user/FansuniteTV" target="_blank">
            <img src="modules/fu/client/img/social/youtube.png">
        </a>
    </div>
</div>