<div class="panel user-guide">
    <div class="panel-heading">
        <h3>User Guide</h3>
    </div>
    <div class="panel-body">
    
    <img src="http://res.cloudinary.com/hsja3e1bm/image/upload/v1456728249/top_bar_y0f23b.png">

    <p>
        <strong>Search</strong> – The search is your fastest way to find the game, user or channel that you are looking for.
    </p>
    <p>
        <strong>Make Picks</strong> – The Make Picks page is where you will be able to view and make virtual wagers, from live odds coming from Pinnacle Sports.
    </p>
    <p>
        <strong>Discover</strong> - Discover is where you can really filter down and find the exact user who best suits your needs. If you want to find the best English Premier League user, in the last 60 days, when betting against the spread, this is where you can quickly find that player.


    </p>
    <p>
        <strong>Username</strong> – By clicking on your username/image you can navigate to your profile, edit your settings, change your password and log out (but why would you ever want to do that??).
    </p>


    <div class="clearfix">
        <div class="left-container">
            <img src="http://res.cloudinary.com/hsja3e1bm/image/upload/v1456728249/Left_Side_Bar_pgqejs.png">
        </div>

        <div class="right-container">
            <h3>Sidebar</h3>
           <p>
        <strong>FansUnite Logo</strong> – The logo will always bring you back to the hub.

    </p>
             <p>
        <strong>Profile Image/Username</strong> – By clicking on your username/profile image you can navigate to your profile. On your profile you will find all your relevants stats, upcoming picks and your full betting history. 
    
    </p>

      <p>
        <strong>Units</strong> – This will display how many playable units you have remaining in the week. Each week you are given 150 units to make wagers with. Units cannot be carried over and will reset every Monday morning at 12:01am PST.

    </p>
      <p>
        <strong>Active Picks/Units</strong> – This will give you a quick summary of how many pending/in play wagers you have, and how many units are being risked.

    </p>
    <p>
        <strong>Channels</strong> – The channels are where you will find all information relevant to a league or sport. Each channel has it’s own dedicated chat, leaderboard and overview of all upcoming and completed games.


    </p>
     <p>
        <strong>My Picks</strong> – Will give you a quick overview of your upcoming picks as well as your last 20 completed picks.


    </p>
    <p>
        <strong>Following</strong> – This will show you a comparison of all of the users you are following, as well as their upcoming picks. You will be able to filter their statistics and picks by sport and league while also finding other top users you should be following.


    </p>
        </div>
    </div>



    <div class="clearfix" style="margin-top:10px;">
        <div class="left-container">
            <img src="http://res.cloudinary.com/hsja3e1bm/image/upload/v1456728248/make_picks_-_sport_league_filter_ixl7cj.png">
        </div>
        <div class="right-container">
            <h3>Make Picks</h3>
            <p>
                To begin making picks, first select the sport and then league you would like to view odds for.

            </p>
        </div>
    </div>

    <img src="http://res.cloudinary.com/hsja3e1bm/image/upload/v1456728251/make_picks_select_duration_xcfo5z.png">

    <p>
                You will then be presented with all available games for that specific league. If you would like to change the duration of the event you are viewing, you can use the dropdown menu on the top right.

            </p>
    

     <div class="text-center">
    <img src="http://res.cloudinary.com/hsja3e1bm/image/upload/v1456728250/alternate_spreads_abbrjf.png">
     </div>
   <p>
                If an event line has a dropdown associated with it, you will be able to select alternate spreads/totals for that event. Simply click the dropdown, select the alternate line you would like and add it to your bet slip.

            </p>

    <div class="clearfix" style="margin-top:10px;">
        <div class="left-container">
            <img src="http://res.cloudinary.com/hsja3e1bm/image/upload/v1456728247/bets_slip_grkvom.png">
        </div>
        <div class="right-container">
            <h3>Bet Slip</h3>
            <p>
                Once you have selected the pick you would like to make, this pick will be put into your bet slip. On each pick you are able to risk up to 5 units and a maximum of 15 per event.

            </p>
             <p>
               Unit size should be related to the confidence you have on that pick. A one unit wager would equate to low confidence, whereas a 5 unit play would be a high confidence pick.

            </p>
        </div>
    </div>

    <h3>Discover</h3>
    <img src="http://res.cloudinary.com/hsja3e1bm/image/upload/v1456728251/Discover_jwwcho.png">

    <p>The Discover page is the best way to find the tipster that best suits your needs.</p>
    <p>
        <strong>Rank</strong> – This is a display of how you rank against the rest of the FansUnite community and is affected by the filters you have applied.
    </p>
    <p>
        <strong>Duration</strong> – Adjust the time parameters of the users that you are viewing.
    </p>
    <p>
        <strong>Sport</strong> – Filters users by sport.
    </p>
    <p>
        <strong>League</strong> – Filters users by league (Sport filter must be applied first).
    </p>
    <p>
        <strong>Team</strong> – Filters users by team (Sport and League filter must be applied first).
    </p>
    <p>
        <strong>Home/Away</strong> – Filters the data to show only results for whether the picks were made on the home vs. away teams.
    </p>
    <p>
        <strong>Periods</strong> – Filters the user statistics based on a certain bet duration. (1st period, 1st half, Map 1 etc.)
    </p>
    <p>
        <strong>Bet Type</strong> – Want to know who is the best at betting on Over/Under? Spreads? Or just picking straight winners, do that here.
    </p>
    </div>
</div>