<div class="panel">

  <div class="panel-heading">
      <h3>Privacy</h3>
  </div>
  <div class="panel-body">
      <h5><strong>Privacy Policy</strong></h5>
      <p>
          This Privacy Policy details certain policies implemented throughout http://www.FansUnite.com (the "Website") governing our use of personally identifiable information about users of our Website and users of services available through this Website (the &ldquo;Services&rdquo;).
      </p>
      <h5><strong>Privacy Policy Updates</strong></h5>
      <p>
          FansUnite.com may need to update this Privacy Policy from time to time. If so, FansUnite.com will post its updated Privacy Policy on our Website located at &lt;&lt; insert page address for Privacy Policy ex: www.FansUnite.com/privacy &gt;&gt; and we may send registered users an email, so you are aware of what personally identifiable information we may collect and how we may use this information. If we make material changes to this policy, we will notify you either on this page, by email, or by means of a notice on our home page.
      </p>
      <p>
          By visiting this Website and using the Services you accept the terms of this Privacy Policy as amended from time to time.
      </p>
      <h5><strong>Information Collection and Use</strong></h5>
      <p>
          You can generally visit our Website without revealing any personally identifiable information about yourself. However, if you would like to enjoy the full functionality of this website you will need to sign up for an account and we will ask for your name and email address.
      </p>
      <p>
          FansUnite.com may use your information in order to customize our Website and enhance your overall experience at our Website. FansUnite.com tries to recognize you as a visitor to our Website using various methods so we can customize the pages, advertisements and other content you see so you can see what interests you most. FansUnite.com utilizes passive information to learn more about how you navigate our Website. This passive information may be combined with your other information for purposes such as testing and improving your user experience at our Website.
      </p>
      <h5>We may use your personally identifiable information to:</h5>
      <ol>
          <li>
              Deliver requested services or information directly to you,
          </li>
          <li>
              Provide you, or have our third party service partners (as described in the &ldquo;Disclosure&rdquo; section of this Privacy Policy) provide you with notices regarding goods or services you may be interested in purchasing in the future,
          </li>
          <li>
              Register you to use our Website and Services as a member,
          </li>
          <li>
              Verify your authority to enter our Website, and
          </li>
          <li>
              To improve the content and general administration of the Website and our Services.
          </li>
      </ol>
      <p>
          We may track the total number of visitors to our Website, the number of visitors to each page, browser type, and IP addresses. We may analyze this data for trends and statistics in the aggregate, but such information will be maintained, used and disclosed in aggregate form only and it will not contain personally identifiable information. We may use such aggregate information to analyze trends, administer the Website, track users' movement, and gather broad demographic information for aggregate use.
      </p>
      <p>
          Personally identifiable information will never be shared with third parties unless you have expressly agreed that we forward your personally identifiable information to provide you with a service you requested. Once transferred to these third parties you may be asked for additional information, please be aware that any additional information they may ask for is not covered by this Privacy Policy.
      </p>
      <h5><strong>Optional Information</strong></h5>
      <p>
          Occasionally during your visit to the Website, you may be asked to provide information about yourself. For example, you may wish to participate in a survey or a contest. Participation in surveys or contests or the use of other services that require additional information is completely voluntary on your part, and you have the choice about whether to disclose the information necessary to use these features of our Website.
      </p>
      <h5><strong>Referral Program</strong></h5>
      <p>
          Occasionally we may allow you to inform one of your contacts about FansUnite.com through our Website referral service. If you choose to use the referral service, we will ask you for your contact's name and e-mail address and we will send your contact an e-mail inviting them to visit FansUnite.com. FansUnite.com will store your contact's information for the purpose of sending that e-mail.
      </p>
      <h5><strong>Sending you E-Mail</strong></h5>
      <p>
          FansUnite.com may use your contact information in order to send you e-mails regarding updates and offers related to our Website and other offers that may be of interest to you. In addition, we may send you informational newsletters relating to topics that may be of special interest to you. Finally, if you specifically provide FansUnite.com with permission at the time of registration, you may also receive commercial e-mails. The frequency of these emails will vary but you will be able to adjust your email subscriptions settings at all times to either opt-out of receiving them or reduce the frequency or narrow the scope of the emails we send you. E-mail messages from third parties are not governed by the opt-out provisions of this Privacy Policy, but all such third parties will be required to include opt-out procedures in their messages to you.
      </p>
      <h5><strong>Children's Privacy</strong></h5>
      <p>
          This Website is not intended for people under the age of 18. FansUnite.com does not target its Services or this Website to people under the age of 18. FansUnite.com does not knowingly collect personally identifiable information from people under the age of 18.
      </p>
      <h5><strong>Cookies</strong></h5>
      <p>
          We may use small text files called cookies to improve overall Website experience. A cookie is a piece of data stored on the Website user's hard drive containing information about the user. Cookies generally do not permit us to personally identify you.
      </p>
      <p>
          FansUnite.com may work with certain third parties who have provided FansUnite.com with software widgets intended to collect certain information from you in order to find you relevant Website content, Services or third party offers. These software widgets may be embedded on pages of FansUnite.com and collect information provided by users which is disclosed to third parties. In addition, FansUnite.com third party advertisers may place and read cookies on the user&rsquo;s internet browser or use web beacons to collect information about the user. Third parties also use session ID cookies to make it easier for you to navigate our site. Such third parties may collect, use and commercially exploit any information provided by users as they wish, subject to applicable law and regulation. The use of these third party cookies however is not covered by this Privacy Policy. We do not have access or control over these cookies.
      </p>
      <p>
          Depending on the internet browser used, FansUnite.com users may adjust their internet browser settings to turn cookies off or preclude FansUnite.com or a third party from placing or reading cookies on a user&rsquo;s browser. Users can obtain more information about managing cookie settings on their browser by inquiring directly with the internet browser software provider.
      </p>
      <h5><strong>Clear Gifs</strong></h5>
      <p>
          FansUnite.com&rsquo;s third party advertisers may use a software on the Website called clear gifs (also known as 1x1 Gifs, Web Beacons, Web Bugs, Pixels or Pixel Tags), that help us better manage content on the Website by allowing us to see what content is relevant to our visitors. Clear gifs are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of Website users. While cookies are stored on a user&rsquo;s computer hard drive, clear gifs are embedded on Website pages. Gifs are usually about the size of a period. Information gathered by clear gifs cannot be tied to Website visitors&rsquo; personally identifiable information.
      </p>
      <h5><strong>Disclosure &ndash; Sharing your Information</strong></h5>
      <p>
          FansUnite.com does not share, sell, rent or trade your personal information with third parties other than as disclosed within this Privacy Policy.
      </p>
      <p>
          We may provide personally identifiable information and the data generated by cookies and aggregate information to vendors, service agencies, advertiser and other third parties that we may engage to assist us in providing our Services to you.
      </p>
      <p>
          We reserve the right to disclose your personally identifiable information and your communications on this Website as required to do so by applicable law and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or legal process served on our Website, or when we deem it appropriate or necessary to provide such information to law enforcement authorities.
      </p>
      <p>
          We may transfer your personally identifiable information to a successor entity upon a merger, consolidation or other corporate reorganization in which FansUnite.com participates or to a purchaser of all or substantially all of FansUnite.com's assets to which this Website relates.
      </p>
      <h5><strong>Agents/Service Providers</strong></h5>
      <p>
          From time to time we may use other third parties to send out emails on our behalf and a third party marketing provider to provide broadcast email services for us. When you sign up to receive newsletters, marketing material or other communication from FansUnite.com, we will share your name and email address as necessary for the third party to provide that service. These third parties are prohibited from using your personally identifiable information for promotional purposes. Any emails you received from FansUnite.com shall have an opt-out or unsubscribe option clearly displayed allowing you to opt-out or unsubscribe from future emails or adjust email subscription settings from FansUnite.com
      </p>
      <h5><strong>Security</strong></h5>
      <p>
          We may employ procedural and technological security measures that are reasonably designed to help protect your personally identifiable information from loss, unauthorized access, disclosure, alteration or destruction. FansUnite.com may use secure socket layer and other security measures to help prevent unauthorized access to your personally identifiable information.
      </p>
      <p>
          The security of your personal information is important to us. When you enter personal or sensitive information on our forms, we encrypt that information using secure socket layer technology (SSL).
      </p>
      <p>
          Some of our computer systems are currently based outside European Union, so your personal data will be processed by us where data protection and privacy regulations may not offer the same level of protection as in other parts of the world, such as the European Union. By using the Website you agree to this Privacy Policy and our Terms of Use and you consent to the transfer of all such information to the jurisdiction in which our servers are located, which may not offer an equivalent level of protection of that required in the European Union or certain other countries, and to the processing of that information as described in this Privacy Policy.
      </p>
      <p>
          Any information you offer in your profile will be input into our database. While this information will not be disclosed to any third party without your consent, FansUnite.com or its affiliated companies, contractors or suppliers will be held responsible for any hacking attempt that may lead to the data being compromised and by using the Website, as further set out in our Terms of Use, you indemnify FansUnite.com against any damages resulting from same.
      </p>
      <h5><strong>Correcting/Updating Personally Identifiable Information</strong></h5>
      <p>
          FansUnite.com provides you with the ability to access, correct and delete the email address and other information you may have on record with us. If you wish to review or correct the email address or other information you may have provided to us, you may access your Website account to do so.
      </p>
      <p>
          -- This Privacy Policy was last updated: July 25, 2012 This Privacy Policy is effective as of: July 25, 2012
      </p>
  </div>

</div>