<div class="panel">

    <div class="panel-heading">
        <h3>Glossary</h3>
    </div>
    <div class="panel-body">
        <p>
            <strong>Action &ndash;&nbsp;</strong>A bettor who has a wager that has yet to resolve is said to have &lsquo;action&rsquo;. This is a slang term for a bet.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>American Odds &ndash;&nbsp;</strong>Odds are supplied in the form of -110 or +125. Favored in the United States of America.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Bet &ndash;&nbsp;</strong>To risk something on the outcome of an event.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Chalk &ndash;&nbsp;</strong>A slang term for the favorite. If someone says they are &lsquo;laying chalk&rsquo;, it means that they are betting that the favorite will win.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Decimal Odds &ndash;&nbsp;</strong>Odds are supplied in decimal form. For example: 1.91 or 2.25. Favored in continental Europe, Australia, New Zealand, and Canada.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Event &ndash;&nbsp;</strong>Any occurrence on which people can bet.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Favorite &ndash;&nbsp;</strong>The team that is expected to win. The quoted odds will reflect the extent to which the team is favored. The lower the return, the more the team is favored.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Fractional Odds &ndash;&nbsp;</strong>Odds are supplied in fractional form. For example: 4/5 or 8/1. Favored in the United Kingdom and Ireland. Fractional odds are also common in horse racing. Fractional odds quote the net total that will be paid to the bettor, should they win, relative to their stake.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Futures &ndash;&nbsp;</strong>A futures bet is a bet on an event in which there are many competitors. For example, betting on the winner of a golf tournament, a horse race, or the Super Bowl, made considerably before the event takes place, is referred to as a futures bet.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Line &ndash;&nbsp;</strong>The current odds or pointspread on a particular event
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Live Betting &ndash;&nbsp;</strong>Betting on an event that is taking place at the moment the bet is made. This is not offered at all sportsbooks.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Moneyline</strong>&nbsp;<strong>&ndash;&nbsp;</strong>A wager on one team to win a match irrespective of the score.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Odds &ndash;&nbsp;</strong>The price a sportsbook offers on the occurrence of a particular event
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Point Spread &ndash;&nbsp;</strong>The predicted scoring differential between two opponents in a game as determined by the sportsbook.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Profit &ndash;&nbsp;</strong>The amount won by a bettor on a winning wager. Profit is equal to the return minus the stake.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Puckline &ndash;&nbsp;</strong>Hockey&rsquo;s version of the pointspread.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Push &ndash;&nbsp;</strong>A push occurs when a game finishes on the total or pointspread quoted. All wagers are voided and the stakes are returned.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Return &ndash;&nbsp;</strong>The bettor&rsquo;s stake multiplied by the odds offered.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Runline &ndash;&nbsp;</strong>Baseball&rsquo;s version of the pointspread.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Sportsbook &ndash;&nbsp;</strong>A person or company that supplies odds on events and accepts bets.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Stake &ndash;&nbsp;</strong>The amount that the bettor is wagering on a event.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Totals Bet &ndash;&nbsp;</strong>A bet on the total score by both teams in a game. The bettor must choose that it be more or less than the posted total.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Underdog &ndash;&nbsp;</strong>The team perceived most likely to lose by sportsbooks.
        </p>
        <p>
            <strong>&nbsp;</strong>
        </p>
        <p>
            <strong>Wager &ndash;&nbsp;</strong>To risk money on the outcome of an event. See &lsquo;Bet&rsquo;.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            If you have any more questions, please visit our <a href="/faq">FAQ.</a>
        </p>
    </div>

</div>