<div class="panel">
    <div class="panel-heading">
        <h3>Contact</h3>
    </div>
    <div class="panel-body">
        <h4>General Inquiries, Advertising and Support</h4>
        <p>
            If you have any questions, concerns or comments about the website please contact us at:
        </p>
        <p>
            <a href="mailto:info@fansunite.com">Info@fansunite.com</a>
        </p>
        <h4>Connect</h4>
        <div>
            <btn-facebook-like></btn-facebook-like>
        </div>
        <div>
            <btn-twitter-follow></btn-twitter-follow>
        </div>
    </div>
</div>