<div class="panel">

  <div class="panel-heading">
    <h3>Grading Wagers</h3>
  </div>

  <div class="panel-body">
  <accordion close-others="oneAtATime">

    <br>
    <accordion-group heading="Aussie Rules">
      All Aussie Rules matches must go at least 80 minutes for wagers to be graded. 
      Wagers are graded on the final score, including overtime. If the final result is a draw, 'to win' wagers will void and units will be returned. 
    </accordion-group>
    <br>

    <accordion-group heading="Badminton">
      <strong>Head to Head</strong>
      <br>
      Matches must be completed in order for wagers to be graded. All matches ending early for any reason will be void and units will be returned.
      <p>
        <br>
        <strong>Set Betting</strong>
        <br>
        In order for set wagers to be graded, the respective set must be completed in full.
      </p>
    </accordion-group>
    <br>    
    
    <accordion-group heading="Baseball">
     <p>For 'to win' wagers a game will be considered complete after 5 full innings of play (4.5 if the home team is leading).
     Team run totals and game run totals are dependent on the game going a full 9 innings (8.5 if the home team is winning).</p>
      <p><strong>First Half/5 Innings Wagers</strong></p>
        <p>A full 5 innings must be completed in order for first half wagers to be graded. As soon as 5 innings are completed wagers will stand, regardless of the final outcome of the game.</p>
      </p>
      <p>
     <p><strong>Home Runs vs Away Runs</strong></p>
     
       <p>Home vs Away Runs will be decided by the total runs scored in all games of that specific league scheduled on that day.</p>
     
      All scheduled games must go at least 9 innings (8.5 if the home team is winning) for Home vs Away picks to be graded.
     </p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Basketball">
      <p>All basketball games must go at least 43 minutes in order for wagers to be graded.</p>
      <p>'To win' wagers are graded based on the final score, including overtime.</p>
      <p>'Totals' wagers are graded based on the final score, including overtime.</p>
      <p><strong>Period and Half Wagers</strong></p>
      <p>For wagers on quarters and halfs the entire quarter/half must be complete in order for wagers to be graded.</p>
      <p>Second half wagers will include overtime.</p>
      <p>Wagers on fourth quarters do not include overtime.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Boxing">
     <p>As soon as the bell sounds to begin round 1, all wagers are now considered active and will be graded.
     'KO' wagers are considered winners if the selected fighter wins by KO, TKO, or DQ.</p>

     <p>
      <strong>Round Wagers</strong>
     </p>
     Over/Under picks are graded on the total number of rounds completed. The official halfway point is 1 minute and 30 seconds into a 3 minute round. 5 minute rounds halway point will be considered 2 minutes and 30 seconds into a round.
    </accordion-group>
    <br>
    
    <accordion-group heading="Cricket">
      <p><strong>Test Matches</strong></p>
      <p>In the event a game does not go at least 4 innings, all 'to win' wagers will be graded on official announcement.</p>
      <p>In the event a game does not go at least 4 innings, all over/under wagers will be returned.</p>
      <p>Tied test matches will result in units wagered being returned.</p>
      <p><strong>One Day Internationals</strong></p>
      <p>If the game does not go at least the official number of overs, all units wagered on 'to win' will be returned.</p>
      <p>If the game does not go at least the official number of overs, all units wagered on the over/under will be returned.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Curling">
      At least 1 stone must be thrown by each team in the sixth in order for wagers to be graded. Extra ends will be included in the final grading of wagers.
    </accordion-group>
    <br>
    
    <accordion-group heading="Cycling">
      <p><strong>Head to Head</strong></p>
      <p>Single race matchups will count and be graded if, both riders start the race and at least one of them completes the race.</p>
      <p>Wagers against 'the field' will be graded as a win if the individual beats every other competitor. In the results of tie, all units will be refunded.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="E-Sports">
    <p>If there is no draw option, extra time will be counted.</p>

    <p><strong>Spreads</strong></p>
    <p>A 'spread' can either be rounds/maps or any other counting measure used in the game. If a game is not completed all spread wagers will be returned.</p>
    
    <p><strong>Totals</strong></p>
    <p>A 'total' can either be rounds/maps or any other counting measure used in the game. If a game is not completed all 'totals' wagers will be returned.</p>
    <p><strong>Props</strong></p>
<p><strong>First Tower:</strong> The first team that has one of their towers destroyed loses this bet.</p>
<p><strong>First Blood:</strong> The team that is announced in-game to get "First Blood" wins this bet.</p>
<p><strong>First to 10 kills:</strong> The first team to get to 10 kills on the in-game scoreboard wins this bet.</p>
<p><strong>First Round:</strong> The team that wins the first round wins this bet.</p>
<p><strong>First to 5 Rounds:</strong> The team that first wins 5 rounds wins this bet.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Football">
     <p>Winners and losers are graded based on the final score, including overtime.</p>
     <p>All full game wagers, as well as 2nd half wagers will include overtime scoring.</p>
     <p>4th quarter wagers will not include overtime.</p>
     <p>In the event of a draw, all moneyline wagers will be treated as a push and units will be returned.</p>
     <p><strong>Home Points vs Away Points</strong></p>
     <p>NFL Home Points vs Away Points includes all games played in an "NFL week" which includes all games played from Thursday to Monday.<p>
    <p><strong> Highest and Lowest Team Totals</strong></p>
    <p>If teams tie for the highest team total, the winner will be the team with the largest winning margin. If the winning margins are equal, all picks on the tied teams will be graded as winners.</p>
    <p>If teams tie for the lowest team total, the winner will be the team with the largest losing margin. If the losing margins are equal, all picks on the tied teams will be graded as winners.</p>

    </accordion-group>
    <br>
    
    <accordion-group heading="Golf">
      <p>All results will take into account any playoff holes.</p>
      <p><strong>Matchups</strong></p>
      <p>Both golfers must tee off in order for wagers to be graded.</p>
      <p> Player with the lowest score over the entire tournament is the matchup winner.</p>
      <p>If one player misses the cut, the other play automatically wins. If both players miss the cut, the lower score of the two will be deemed the winner.</p>
      <p><strong>Tournament Winner</strong></p>
      <p>The "Field" includes all players not offered by name.</p>
      <p>If a tournament does not go the specified number of completed holes (usually 72) and is shortened by the tournament officials, the leader at the end of the number of holes specified by the officials will be the winner</p>
      <p>In the event that golfers are tied for the lead at the end of regulation play, the winner will be determined by a playoff. All other golfers in the playoff will be graded as second place finishers.</p>
      <p><strong>Golf Three-Way (Three Balls)</strong></p>
      <p>Picks on "Three Balls", will be decided by the lowest score after one full round of play (18 holes).</p>
      <p>Once a player has started, if they withdraw before completing 18 holes they are deemed the loser, regardless of the score.
      </p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Handball">
      <p>Winners and losers will be determined by the score a the end of regulation time. Overtime will not be counted unless specified.</p>
      <p><strong>Goalscorers</strong></p>
      <p>Only goals scored in regular time and overtime will count towards individual goal totals. Penalties will not be included.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Hockey">
      <p>Games WILL include overtime and penalthy shootouts unless a 'draw' option is made available.</p>
      <p>Game must go at least 55 minutes for wagers to be graded, anything suspended prior to that mark will have all wagers returned.</p>
      <p><strong>Periods</strong></p>
      <p>Entire duration of period must be played for wagers to be graded.</p>
      <p>Overtime and shootout goals do not count for 3rd period wagers.</p>
      <p><strong>Home Goals vs Away Goals</strong></p>
      <p>Home Goals vs Away Goals will be graded based on the total goals scored in all games scheduled in the specified league on the specified day. All scheduled games must play three full periods. If any game is canceled or stopped before three full periods are played, all picks will be canceled and units returned.
</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Lacrosse">
      Game must go full 60 minutes for wagers to be graded. All wagers will include Overtime.
    </accordion-group>
    <br>
    
    <accordion-group heading="MMA">
      <p>'KO/TKO' wagers will be graded as a winner if the stoppage occurs via KO, TKO or corner stoppage. Submissions are not included for 'KO/TKO' wagers.</p>
      <p>In the result of a 'draw' all 'to win' wagers will be returned.</p>
      <p>In the result of a 'no contest' all wagers will be returned.</p>
      <p><strong>Total Rounds</strong></p>
      <p>Total rounds represent total rounds completed. In a 5 minute round, the 2:30 mark is the halfway point, in a 3 minute round, the 1:30 mark is considered halfway. If a fight ends on the exact halfway mark the wager will be considered a push and all units will be returned.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Rugby">
      All wagers will be graded on the final score, including overtime. In the event of a tie, all 'to win' wagers will be considered a push and units will be returned.
    </accordion-group>
    <br>

    <accordion-group heading="Snooker">
       Winners will be determined by correctly selecting the player who officially wins the match.
    </accordion-group>
    <br>
   
    <accordion-group heading="Soccer">
    <p>If a match does not start as scheduled, and does not start the same day then picks on the match will have be canceled and units will be returned.
</p>
      <p>If draw option is offered and a match ends in a draw, the draw will be paid out, while the 'to win' wagers on either team will lose.</p>
      <p>'To win' wagers do not include extra time or penalty shootouts.</p>
      'To Raise the Trophy/To Advance' wagers will include extra time and penalty shootouts.</p>

      <p><strong>1st Half/2nd Half Wagers</strong></p>
      <p>'1st Half' wagers include 45 minutes of play, as well as any stoppage time added by the referee.</p>
      <p>'2nd Half' wagers include 45 minutes of play, as well as any stoppage time added by the referee. Extra time, and shootouts will not count.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Squash">
      <p>Match must be completed in order for wagers to be graded.</p>
     <p>Set betting refers to the final score in sets.</p>
     <p>Set winners refer to a specific set, the entire set must be completed in order for wagers to be graded.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Table Tennis">
       <p>Match must be completed in order for wagers to be graded.</p>
       <p>Set betting refers to the final score in sets.</p>
       <p>Set winners refer to a specific set, the entire set must be completed in order for wagers to be graded.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Tennis">
      <p>At least 1 full set must be completed in order for 'to win' wagers to be graded. If less than 1 set is completed, all 'to win' wagers will be returned.</p>
      <p><strong>1st Set Betting</strong><p>
      <p>The entire set must be completed in order for wagers to be graded. If a set ends early for any reason all wagers will be returned.</p>
      <p><strong>Set Wagers</strong><p>
      <p>The entire tennis match must be completed in order for 'Set Betting' wagers to be graded. In the event of retirment or disqualification, all wagers will be returned.</p>
      <p><strong>Handicap and Total Games Wagers</strong><p>
      <p>The entire tennis match must be completed in order for 'handicap' and 'total games' wagers to be graded. In the event of retirment or disqualification, all wagers will be returned.</p>
      <p><strong>Team Totals Wagers</strong><p>
      <p>The entire tennis match must be completed in order for 'team totals' wagers to be graded. In the event of retirment or disqualification, all wagers will be returned.</p>
       <p><strong>Davis and Federation Cup</strong><p>
      <p>Davis Cup or Federation Cup wagers on the “Tie” are for that country to advance to the next round. Each "Tie" consists of five rubbers ("matches").</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Volleyball">
    <p>If a match is suspended before full time is reached, and not completed the same day, all picks on the outcome of the match are cancelled and units returned.</p>
     <p><strong>Set Wagers (Correct Score)</strong></p>
     <p>Refers to the correct final score in sets.</p>
     <p><strong>Set Winner</strong></p>
     <p>'Set Winner' refer to a specific set. Specific set must be completed in order for wagers to be graded.</p>
    </accordion-group>
    <br>
    
    <accordion-group heading="Water Polo">
      <p>All wagers are for regulation time, overtime or penalty shootouts will not be included.</p>
      <p><strong>Quarter Wagers</strong></p>
      <p>All 1st, 2nd, 3rd and 4th quarter wagers will only include goals scored within the respective period.</p>
    </accordion-group>

  </accordion>

  <p>
    <br />
    For all other questions please contact us at <a href="mailto:info@fansunite.com">info@fansunite.com</a>
  </p>
  </div>
</div>