<div class="panel" id="user-guide">
    <div class="panel-heading">
        <h3>User Guide</h3>
    </div>
    <div class="panel-body">
    <p>
    <strong>All of the page navigation on FansUnite.com is accessible via the top toolbar:</strong>
    </p>
    <img src="/modules/core/img/user-guide/nav.png">

    <p>
        <strong>Hub</strong> – The Hub is your home base. It is where you can find the latest picks, trending users, sportsbook offers, and have the ability to chat with other users.
    </p>
    <p>
        <strong>Make Picks</strong> – The Make Picks page is where you will be able to view and make virtual wagers, on the most up to date odds, for all of your favourite sports and teams.
    </p>
    <p>
        <strong>Leaderboard</strong> - The Leaderboard is where you can really filter down and find the exact user who best suits your needs. If you want to find the best English Premier League user, in the last 60 days, when betting against the spread, this is where you can quickly find that player.
    </p>
    <p>
        <strong>Username</strong> – By clicking on your username/image you can navigate to your profile, edit your settings, change your password and log out (but why would you ever want to do that??).
    </p>


    <div class="clearfix">
        <div class="left-container">
            <img src="/modules/core/img/user-guide/filter.png">
        </div>

        <div class="right-container">
            <h3>Sport Filters</h3>
            <p>
                The left hand sport navigation menu allows you to filter the page you are viewing to only display that sport or league. The sports filter will affect everything on the page, from the trending users to the picks that you are able to view.
            </p>
            <p>
                The filter can display results by sport or by league, so filter away!
            </p>
        </div>
    </div>



    <div class="clearfix" style="margin-top:10px;">
        <div class="left-container">
            <img src="/modules/core/img/user-guide/bet-slip.png">
        </div>
        <div class="right-container">
            <h3>Bet Slip</h3>
            <p>
                Every pick that you select will be added to your Bet Slip for review before being submitted. The Bet Slip is where you can control the amount of units you would like to risk per wager and review your selected wagers before submitting.
            </p>
            <p>
                The second feature we have added is in the ‘My Picks’ section of the Bet Slip. Here you will find all of your pending picks, as well as the results for your last 10 wagers that have been graded.
            </p>
        </div>
    </div>


    <h3>Make Picks</h3>
    <img src="/modules/core/img/user-guide/make-picks.png">

    <p>
        <strong>Sportsbook</strong> – The Sportsbook drop down menu allows you to select the sportsbook from which you would like to view your odds.
    </p>
    <p>
        <strong>Bet Type</strong> – The Bet Type drop down menu allows you to choose from full game, 1st/2nd half wagers, quarters and periods. The selection options will be dependent on the sport selected and what the odds providers are offering.
        <br/><em>Note: This drop down menu can only be applied once a sport is selected from the sports filter.</em>
    </p>
    <p>
        <strong>Odds Format</strong> – The Odds Format drop down menu allows you to choose from American, Decimal and Fractional odd displays.
        <br/><em>Note: This setting can be preset in your settings page.</em>
    </p>

     <div class="text-center">
    <img src="/modules/core/img/user-guide/alternate-lines.png">
     </div>
    <p>
        <strong>Alternate Spreads, Totals and Team Totals</strong> – Wherever you see a caret (drop down menu), you will be able to select alternate lines and the corresponding odds to select for wagers.
    </p>

    <h3>Leaderboard</h3>
    <img src="/modules/core/img/user-guide/leaderboard.png">

    <p>The Leaderboard page can be filtered by sport and league by using the Sports Filters.</p>
    <p>
        <strong>Current Rank</strong> – This is a display of how you rank against the rest of the competition on FansUnite and is affected by the Sports Filters.
    </p>
    <p>
        <strong>Time</strong> – Adjust the time parameters of the leaders that you are viewing.
    </p>
    <p>
        <strong>Home/Away</strong> – Filter the data to show only results for whether the picks were made on the home vs away teams.
    </p>
    <p>
        <strong>Bet Type</strong> – Want to know who is the best at betting on Over/Under? Spreads? Or just picking straight winners, do that here.
    </p>
    </div>
</div>