<div class="panel">

  <div class="panel-heading">
    <h3>Contact</h3>
  </div>
  <div class="panel-body">
    <h4>General Inquiries, Advertising and Support</h4>
    <p>
        If you have any questions, concerns or comments about the website please contact us at:
    </p>
    <p>
        <a href="mailto:info@fansunite.com">Info@fansunite.com</a>
    </p>
    <h4>Contests</h4>
    <p>
        For any general questions, contest rules or prize claims about our monthly contests please contact us at:
    </p>
    <p>
        <a href="mailto:contests@fansunite.com">Contests@fansunite.com</a>
    </p>
   <h4>Connect</h4>
    <a href="https://www.facebook.com/TheFansUnite?ref=br_tf" style="margin-left: 25px;">Facebook</a>
    <a href="https://twitter.com/fansunite">Twitter</a>
    <a href="https://plus.google.com/+Fansunite/posts">Google</a>
    <a href="https://www.youtube.com/user/FansuniteTV">YouTube</a>
    </div>
</div>