<div class="panel">
  
  <div class="panel-heading">
      <h3>Betting Guide</h3>
  </div>
  <div class="panel-body">
      <p>
          Welcome to the FansUnite walkthrough betting guide. Whether you are a new to the sports betting industry, need a refresher course, or would like to reference a term, this guide will prove useful.&nbsp;
      </p>
      <p>
          We begin with the basics of betting, and with the use of easy examples, will take you through all the ins and outs of the online betting scene.&nbsp; Our guide is broken down into the following categories:&nbsp;
      </p>
      <p>
          <a ng-click="scrollTo('straight')">Straight Bets</a>, <a ng-click="scrollTo('moneyline')">Moneyline</a>, <a ng-click="scrollTo('totals')">Totals (Over/Under)</a>, <a ng-click="scrollTo('spread')">Point Spread</a>,<a ng-click="scrollTo('odds')"> Odds Types</a>, <a ng-click="scrollTo('parlay')">Parlay/Combination</a> and <a ng-click="scrollTo('glossary')"> Betting Glossary.</a>
      </p>
      <p>
          &nbsp;&nbsp;
      </p>
      <p id="straight">
          <strong>Straight Bet</strong>&nbsp;- is term that encompasses Moneyline bets, Point Spread bets and Totals (Over/Under). A straight betis a single bet on either the Moneyline (Team A to win), the Point Spread (also referred to as the puckline in ice hockey and the runline in baseball), and the Total (Over/Under) of a game.
      </p>
      <p>
          &nbsp;
      </p>
      <p id="moneyline">
          <strong>Moneyline Bet</strong>&nbsp;- is simply a bet on a team to win a given game, regardless of the winning margin or points scored.
      </p>
      <p>
          &nbsp;&nbsp;
      </p>
      <p id="totals">
          <strong>TOTALS (OVER/UNDER)</strong>
      </p>
      <p>
          A&nbsp;<strong>Totals</strong>&nbsp;bet is simply a bet on the total amount of points scored by both teams in a game. The total is set by the sportsbook that a bettor is using, and all the better must do is decide if the total amount of points scored by both teams will be&nbsp;<strong>Over</strong>&nbsp;or&nbsp;<strong>Under</strong>&nbsp;the number set by the sportsbook.
      </p>
      <p>
          <em>Example 1:</em>&nbsp;If in a football game the total is set at 40.5 points, an over bettor will win their bet if the total amount of points scored by both teams is greater than 40.5. Under bettors will win if the total amount of points scored by both teams is less than 40.5.
      </p>
      <p>
          <em>Example 2:</em>&nbsp;If in a hockey game the total is set at 5 total goals, an over bettor will win their bet if the total amount of goals scored by both teams is greater than 5. Under bettors will win if the total amount of goals scored by both teams is less than 5. If the total amount of goals scored by both teams is equal to 5, then both over bettors and under bettors selection will result in a push, which will return their stake.
      </p>
      <p>
          &nbsp;
      </p>
      <p id="spread">
          <strong>POINT SPREAD</strong>
      </p>
      <p>
          A&nbsp;<strong>Point Spread Bet</strong>&nbsp;is simply a bet where you select for a team to either win by more than a set (by the sportsbook) number of points, or for a team to not lose by more than that set number of points. The favorite, in a point spread bet, will always have a negative amount of points (-1.5, -5, -11.5, etc.). That is the amount of points they must win by. The underdog will always have a positive amount of points (+1.5, +5, +11.5, etc.). That is the amount of points they can lose by. If an underdog wins the game, then that is still considered the underdog losing by less than the set amount of points they may lose by and a point spread selection on the underdog will be deemed a win.
      </p>
      <p>
          When looking for a Point Spread Bet it is possible that you may see it referred to in a different name, dependent on the sport in which you are selecting. For example, in baseball a point spread may be referred to as a &lsquo;runline&rsquo;, and in hockey a point spread may be referred to as a &lsquo;puckline&rsquo;.
      </p>
      <p>
          <em>Example 1</em>: Los Angeles Lakers at odds of 1.83, a favorite, must win by -7.5 points. If you bet one unit and the Los Angeles Lakers win by more than 7.5 points, you will get a return of 1.83 units &ndash; your 1 unit stake and a .83 unit profit.
      </p>
      <p>
          <em>Example 2:</em>&nbsp;The Los Angeles Kings at odds of 2.50, a favorite, must win by 1.5 goals. This is a puckline bet. If you bet one unit and the Los Angeles Kings win by more than 1.5 goals, you will get a return of 2.5 units &ndash; your 1 unit stake and a 1.5 unit profit.
      </p>
      <p>
          &nbsp;
      </p>
      <p id="odds">
          <strong>Decimal Odds&nbsp; -</strong>&nbsp;The return on a favorite will be a number less than 2.00. This is the return you will receive for every 1 unit wagered, if the favorite wins.&nbsp; The return on underdogs will be a number greater than 2.00. This is the return you will receive for every 1 unit wagered, if the underdog wins.
      </p>
      <p>
          <em>Example 1:</em>&nbsp;Los Angeles Lakers at odds of 1.83, a favorite. If you bet one unit and the Los Angeles Lakers win, you will get a return of 1.83 units &ndash; your 1 unit stake and a .83 unit profit. If you wager two units on the Los Angeles Lakers at odds of 1.83 and the Los Angeles Lakers win, then you will get a return of&nbsp; 3.66 Units (2 x 1.83) &ndash; your 2 unit stake and a 1.66 unit profit.
      </p>
      <p>
          <em>Example 2:</em>&nbsp;Dallas Cowboys at odds of 2.25, a underdog. If you bet one unit and the Dallas Cowboys win, you will get a return of 2.25 units &ndash; your 1 unit stake and a 1.25 unit profit. If you wager two units on the Dallas Cowboys at odds of 2.25 and the Dallas Cowboys win, then you will get a return of 4.50 units (2 x 2.25) &ndash; your 2 unit stake and 2.50 unit profit.
      </p>
      <p>
          &nbsp;
      </p>
      <p>
          <strong>American Odds</strong>&nbsp;&ndash; The prices on favorites are shown in negative numbers like -110, -125, -350 etc. This is how much a user must wager to gain a profit of 1 unit.&nbsp;
      </p>
      <p>
          The prices on underdogs are shown in positive numbers like +110, +125, +350 etc. This is how much profit a user will make if they wager one unit.
      </p>
      <p>
          <em>Example 1:</em>&nbsp;Los Angeles Lakers at odds of -110, a favorite. If you bet one unit and the Los Angeles Lakers win, you will get a return of 1.91 units (1.0/1.1) + 1 &ndash; your 1 unit stake and a .91 unit profit. If you wager two units on the Los Angeles Lakers at odds of -110 and the Los Angeles Lakers win, then you will get a return of 3.82 Units (2 x (1.0/1.1) &ndash; your 2 unit stake and a 1.82 unit profit.
      </p>
      <p>
          <em>Example 2:&nbsp;</em>Los Angeles Lakers at odds of -180, a favorite. If you bet one unit and the Los Angeles Lakers win, you will get a return of 1.55 units (1.0/1.8) + 1 &ndash; your 1 unit stake and a .55 unit profit. If you wager two units on the Los Angeles Lakers at odds of -180 and the Los Angeles Lakers win, then you will get a return of 3.1 units 2 x (1.0/1.8) +2 &ndash; Your 2 unit stake and a 1.1 unit profit.
      </p>
      <p>
          <em>Example 3:</em>&nbsp;Dallas Cowboys at odds of +110, a underdog. If you bet one unit and the Dallas Cowboys win, you will get a return of 2.1 units (1.1/1.0) +1 &ndash; your 1 unit stake and a 1.1 unit profit. If you wager two units on the Dallas Cowboys at odds of +110 and the Dallas Cowboys win, then you will get a return of 4.2 units 2 x (1.1/1.0) + 2 &ndash; Your 2 unit stake and a 2.2 unit profit.
      </p>
      <p>
          &nbsp;&nbsp;
      </p>
      <p id="parlay">
          <strong>PARLAY/COMBINATION</strong>&nbsp;
      </p>
      <p>
          A&nbsp;<strong>Parlay</strong>&nbsp;or&nbsp;<strong>Combination</strong>&nbsp;bet is a bet that has multiple selections. Every selection on your parlay or combination must win for you to receive a return. If even one selection in a parlay or combination loses, the entire parlay or combination is a loss. A parlay or combination bet can include moneyline bets, pointspread bets, and total bets. Usually you can make a parlay or combination bet made up of different leagues and even different sports. On a parlay or combination bet, the odds are multiplied together (examples will be provided below). As the odds climb higher and higher with more and more selections, the chances of all of the selections winning decreases. It is important that caution is used as the chances of a higher payday can lead many bettors to lose their units.&nbsp;
      </p>
      <p>
          <em>Example 1:</em>&nbsp;If a parlay or combination bet is made with the Los Angeles Lakers to win the game as a moneyline bet at odds of 1.80 AND the Dallas Cowboys to lose by less than 6.5 points (+6.5) as a point spread bet at odds of 1.91 AND the total amount of runs in the New York Yankees vs Boston Red Sox game to be over the set total of 6.5 runs at odds of 1.91, then the odds for the total parlay or combination is 1.80 x 1.91 x 1.91 = 6.57. If this parlay or combination bet results in each selection winning, and you bet one unit, then the return will be 6.57 units &ndash; your 1 unit stake and a 5.57 unit profit.
      </p>
      <p>
          <em>Example 2:&nbsp;</em>If a parlay or combination bet is made with the Los Angeles Lakers to win the game as a moneyline bet at odds of -125 AND the Dallas Cowboys to lose by less than 6.5 points (+6.5) as a point spread bet at odds of -110 AND the total amount of runs in the New York Yankees vs Boston Red Sox game to be over the set total of 6.5 runs at odds of -110, then the odds for the total parlay or combination is 1.80 x 1.91 x 1.91 = 6.57. If this parlay or combination bet results in each selection winning, and you bet one unit, then the return will be 6.57 units &ndash; your 1 unit stake and a 5.57 unit profit.
      </p>
      <p>
          &nbsp;
      </p>
      <p id="glossary">
          For more terms visit our <a href="/glossary">Glossary</a>
      </p>

  </div>

</div>