<div class="panel">
  <div class="panel-heading">
    <h3>Frequently Asked Questions</h3>
  </div>

  <div class="panel-body">
  <accordion close-others="oneAtATime">
  <br>
      <p>
      <strong>PRO ACCOUNTS</strong>
      </br>
      </p>
      <p>
      <accordion-group heading=" What is Pro?">
          Pro membership gives you access to the top handicappers' picks in our community. The top picks are based on leading handicappers in each league, subject to certain criteria such as minimum bets and minimum profit. These picks can only be viewed when you are a Pro member for $20/month.
      </accordion-group>
      <accordion-group heading="Manage Subscription">
          You can subscribe or cancel your Pro subscription at any time under the settings tool. If you cancel before your 30 days are up, you will still have pro access for the remainder of the term.
      </accordion-group>
      </p>
    <p>
        </br>
      <strong>PRIVACY</strong>
        </br>
    </p>
    <accordion-group heading="Who can view my personal information?">
      Your personal information is kept completely private and fellow users are not able to view this information. Users will only be able to see your photo, past and pending picks, site activity and twitter handle (optional). All personal information is kept private by FansUnite.
    </accordion-group>
    <p>
    </br>
      <strong>PICKS</strong>
    </br>
    </p>
    <accordion-group heading="Where does fansunite get their odds from? Are they live?">
      FansUnite receives their lines from multiple sports books. Use the drop down menu under “Make Picks” page to choose the sports book you’d like to use. All lines are live and are refreshed every 10 minutes.
    </accordion-group>
    <accordion-group heading="How does betting on the spread work?">
      The predicted scoring differential between two opponents in a game as determined by the sports book. Learn more in our betting guide, found <a href="/betting101#spread">HERE</a>.
    </accordion-group>
    <accordion-group heading="How does betting on the moneyline work?">
      The moneyline is simply a bet on a team to win a given game, regardless of the winning margin or points scored. Learn more in our betting guide, found <a href="/betting101#moneyline">HERE</a>.
    </accordion-group>
    <accordion-group heading="How does betting on the over/under work?">
      A bet on the total score by both teams in a game. The bettor must choose whether the total score will be higher or lower than the posted total. Learn more in our betting guide, found <a href="/betting101#totals">HERE</a>.
    </accordion-group>
    <accordion-group heading="Why can I only play a maximum of 5 units per game?">
      We believe that having a maximum of 5 units per game restricts a user from placing a large, unrealistic sum of units on any single game. By placing a restriction on the amount of units playable in a game, other users can realistically follow our users’ picks for real wagers.
    </accordion-group>
    <accordion-group heading="How many units do I get per week? Is there anyway to get more?">
      Each user will receive 75 units per week to play with. Units will reset back to 75 each Monday at 1:00am PST. There is no way to receive more units as we are trying to keep a level playing field between users. Do not save units, as none will be carried over to the next week.
    </accordion-group>
    <accordion-group heading="Why can I no longer see other users upcoming picks?">
      You may not be able to see other users’ upcoming picks for a couple of reasons. Firstly, make sure that you are signed into your FansUnite account. Secondly, the pick may be classified as a premium pick. Sign up as a premium member to view all user picks on the site.
    </accordion-group>
    <accordion-group heading="Why do lines close 5 minutes before game time?">
      Lines close 5 minutes before the game starts to give your followers the opportunity to use the information that you have posted on a 3rd party website or however they see fit.
    </accordion-group>
    <accordion-group heading="What is the FansUnite Consensus?">
      The FansUnite consensus shows the percentage of units being placed on either side of a game by the FansUnite community.
    </accordion-group>
    <accordion-group heading="What is PickTracker?">
      PickTracker allows our users to analyze their picking history. PickTracker shows the user the bet type, sport, league, or favorite/underdog where they are making the most profit and areas they are struggling with and should stay away from. PickTracker is a great tool to take out the human emotion in handicapping.
    </accordion-group>
    <p>
    </br>
      <strong>RANKING</strong>
    </br>
    </p>
    <accordion-group heading="How is my profit calculated?">
      Profit is calculated as your return, less the units wagered.
    </accordion-group>
    <accordion-group heading="How is my ROI calculated?">
      Return on investment is calculated as the return, divided by the amount wagered.
    </accordion-group>
    <accordion-group heading="How are my Average Odds calculated?">
      Average odds are the total summation of odds that you have wagered, divided by the number of picks you have placed.
    </accordion-group>
    <accordion-group heading="How is my Average bet size calculated?">
      Average bet size is the total summation of units that you have wagered, divided by the number of picks you have placed.
    </accordion-group>
    <p>
    </br>
      <strong>BLOGGING</strong>
    </br>
    </p>
    <accordion-group heading="Can I create a blog?">
      Yes of course! If you’d like to write for FansUnite, please email us at info@fansunite.com to get more information.
    </accordion-group>
    <p>
    </br>
      <strong>GENERAL</strong>
    </br>
    </p>
    <accordion-group heading="Is fansunite only available in English?">
      Yes. Currently FansUnite is only available in English. Google chrome has options to translate pages but is not always completely accurate.
    </accordion-group>
    <accordion-group heading="Who can I follow? ">
      Users can follow any other user on the site and receive updates on their activity.
    </accordion-group>
    <p>
    </br>
      <strong>CONTESTS</strong>
    </br>
    </p>
    <accordion-group heading="What are FansUnite contests and how often do they run?">
      FansUnite offers contests throughout the year and at no specified dates. FansUnite will set a contest, notify all users and they are always free to enter. Prizes will vary with each contest.
    </accordion-group>

  </accordion>

  <p>
    <br />
    For all other questions please contact us at <a href="mailto:info@fansunite.com">info@fansunite.com</a>
  </p>
  </div>

</div>