<div class="panel">
  <div class="panel-heading">
      <h3>About</h3>
  </div>
  <div class="panel-body">
        <p>
          FansUnite is a social sports betting community started by three sports fans who wanted to take sports back to the people that fuel the industry, the FANS!
        </p>

        <p>
          FansUnite caters to every type of fan, from the amateur who casually enjoys sports to that friend who routinely washes their face paint off with their own tears after a big loss.
        </p>

        <p>
          With our free virtual currency, we invite handicappers to place fantasy wagers with absolutely zero risk. Users are able to create a custom profile that keeps track of every fantasy wager they make with a full-unedited look into not only their history, but also all of their peers.
        </p>

        <p>
          Follow the top handicappers and increase your winning percentage by seeing where they are placing their wagers or use the FansUnite consensus to see what the crowd is saying. Big wins and big losses allow users to move up and down the leaderboard vying for that top position. Compete in free monthly contests all while trash talking your friends as you take no prisoners on the way to the top.
        </p>
  </div>
</div>