<div class="panel">

    <div class="panel-heading">
        <h3>Monthly Revenue Share</h3>
    </div>
    <div class="panel-body">
        <p>
            It has always been our intention at FansUnite to take care of our community. As of now, we have given away cash and prizes through our NHL Playoff contest, NFL Playoff contest, NBA Playoff contest, March Madness ATS Bracket Challenge, and our World Cup Bracket Challenge. Now, we want to take things to the next level.
        </p>

        <p>
            Now at FansUnite you will get paid if you are one of our top users!
        </p>

        <p>
            One of our aims is to add transparency to the sports betting world. So, what we are going to do is detail how much each user will receive.
        </p>

        <p>
            Every user who submits picks will be ranked on a calendar month leaderboard. The top 5 users, based on profit, will be paid out a portion of any Pro Membership revenue that FansUnite brings in that calendar month.
        <ol>
            <li>First Place - 5%</li>
            <li>Second Place - 5%</li>
            <li>Third Place - 5%</li>
            <li>Fourth Place - 5%</li>
            <li>Fifth Place - 5%</li>
        </ol>
        We will pay each eligible user, via paypal, at the end of that calendar month. As FansUnite grows, so will the payout to our top handicappers. The rest of our revenue will be used to take the platform to the levels that you deserve. FansUnite is going to be the world's top sports social community with all of the betting resources you need. This is the least we can do for the wonderful support you have provided us with.
        </p>

        <p>
            Cheers,
        </p>

        <p>
            - Team FansUnite
        </p>

        <p>
            Terms & Conditions of payout
        <ul>
            <li>All users will be paid at the beginning of the following calendar month in US Dollars</li>
            <li>All users will be paid out via paypal and we will contact them via email or private messaging through FansUnite.com</li>
            <li>ALL USERS INVOLVED IN FANSUNITE REVENUE SHARING ARE RESTRICTED FROM DISCLOSING THE AMOUNT OF FUNDS RECEIVED. VIOLATION OF THIS TERM WILL IMMEDIATELY DISQUALIFY THAT USER FROM ANY FUTURE REVENUE SHARING POTENTIAL.</li>
            <li>One account only. Website visitors are only allowed to hold one Website member account at a time</li>
            <li>FansUnite Admin accounts are not eligible to win. If an admin account is in the top 5 (as we like to make picks as well), they will be disqualified and removed at the end of the month.</li>
        </ul>
        </p>
        <p>
            The following skill testing question is required to be answered correctly in order to be eligible for FansUnite Rev Share:
            <br/>
            (25-20) x (36-25) - (90-40) / (24-14)
        </p>
        <p>
            To see FansUnite’s complete Terms of Use, click here: <a ui-sref="static.terms">https://fansunite.com/terms</a>
        </p>
        <br/>
        <p>
            FansUnite Rev Share Rules
        </p>
        <p>
            Open to legal residents of jurisdictions where lawful, of legal age or age of majority or older . Employees of Sponsor and related parties are ineligible. To enter, you must be logged into your account and post a pick in the area designated by the Website for that purpose. Entry must comply with Entry Requirements described in Official Rules. Odds of winning depend on number of entries received. YOU MUST CORRECTLY ANSWER A SKILL TESTING QUESTION TO CLAIM A PRIZE. NO PURCHASE NECESSARY. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING. CONTEST IS VOID WHERE PROHIBITED BY LAW.
        </p>
        <p>
            To see FansUnite's complete Rules, click here: <a ui-sref="static.rules">https://fansunite.com/rules</a>
        </p>
    </div>
</div>
