<div class="panel">
  <div class="panel-heading">
      <h3>About</h3>
  </div>
  <div class="panel-body">
      FansUnite is a social sports betting community started by three sports fans who wanted to take sports back to the people that fuel the industry, the FANS!
      <br/><br/>
      FansUnite caters to every type of fan, from the amateur who casually enjoys sports, to that friend who routinely washes their face paint off with their own tears after a big loss.
      <br/><br/>
      With our free virtual currency, users are able to place fantasy wagers with absolutely zero monetary risk. Track all your bets with our proprietary PickTracker and get a full-unedited look into your own history, as well as your peers.
      <br/><br/>
      Follow the top handicappers and increase your winning percentage by seeing where they are placing their wagers, or use the FansUnite consensus to see what the crowd is saying. Big wins and big losses allow users to move up and down the leaderboard vying for that top position. Compete in our monthly revenue share as well as free contests, all while trash talking your friends as you take no prisoners on the way to the top.
      <br/><br/>
      Good luck out there!
  </div>
</div>