<div class="bet-section bet-section-team-totals">
    <div class="heading">TEAM TOTAL POINTS</div>
    <div class="bets-container clearfix">
        <div class="under">
            <div class="bet-1 bet-row">
                <bet event="event" bet-type="'points'" bets="bets[contestant1Name]['under']"></bet>
            </div>
            <div class="bet-2 bet-row">
                <bet event="event" bet-type="'points'" bets="bets[contestant2Name]['under']"></bet>
            </div>
        </div>
        <div class="over">
            <div class="bet-1 bet-row">
                <bet event="event" bet-type="'points'" bets="bets[contestant1Name]['over']"></bet>
            </div>
            <div class="bet-2 bet-row">
                <bet event="event" bet-type="'points'" bets="bets[contestant2Name]['over']"></bet>
            </div>
        </div>
    </div>
</div>