.event-pick-list{
  .event-header{
    border-top:1px solid @color-gray-divider;
    //padding:0 10px;
    background-color:#FDFDFD;
    .category{
      text-transform:uppercase;
      color:@color-text-dark;
      padding:3px 5px;
    }
    .contestant-table{
      border-top:1px solid @color-gray-divider;
      border-bottom:1px solid @color-gray-divider;
      width:100%;
      color:@color-text-dark;
      .time{
        text-align:center;
        border-right:1px solid @color-gray-divider;
        width:80px;
      }
      .contestant-1, .value-1{
        border-bottom:1px solid @color-gray-divider;
      }
      .contestant-1, .contestant-2{
        padding:3px;
      }

      .value-1, .value-2{
        width:50px;
        text-align:center;
      }
    }
  }
  .event-footer{
    padding:5px 5px;
    border-top:1px solid @color-gray-divider;
    text-align:center;

    a{
      color:@color-text;
      font-size:10px;
    }
    .fa{
      color:@color-orange;
      margin-right:5px;
    }
  }
}