<div class="bet bet-spread">
    <div data-ng-if="activeBet">
        <a href data-ng-click="addBet(activeBet)" data-ng-class="{'selected': activeBet.selected, 'picked': activeBet.picked}">
            <span class="spread">{{activeBet.spread|formatSpread}}</span>
            <span class="odds">({{activeBet.odds|formatOdds}})</span>
        </a>
        <span class="dropdown alt-bets" dropdown data-ng-if="isAlt">
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu pull-right">
                <div data-ng-repeat="bet in bets" class="alt-bet" data-ng-class="{'selected': bet.selected, 'picked': bet.picked}">
                    <a href class="alt-bet" data-ng-click="setActive(bet)" >
                        <span class="spread">{{bet.spread|formatSpread}}</span>
                        <span class="odds">({{bet.odds|formatOdds}})</span>
                    </a>
                </div>
            </div>
        </span>
    </div>
</div>