<section class="content-padding-top settings" data-ng-controller="SettingsController">
    <div class="panel panel-settings">
        <div class="panel-heading">
            <h3>SETTINGS</h3>
        </div>
        <div class="panel-body">
            <h3>Profile</h3>
            <form data-ng-submit="updateUserProfile()" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-5 text-center">
                                <div class="form-group">
                                    <upload-profile-picture/>
                                </div>
                            </div>

                            <div class="col-xs-7">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="authentication.user.firstName">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="authentication.user.lastName">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="odds">Odds Format</label>
                                    <select id="odds" name="odds" class="form-control" data-ng-model="authentication.user.oddsFormat" data-ng-options="oddsFormat for oddsFormat in oddsFormats"></select>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" name="email" class="form-control" data-ng-model="authentication.user.email">
                                </div>
                                <div class="form-group">
                                    <label for="twitter">Twitte r</label>
                                    <input type="twitter" id="twitter" name="twitter" class="form-control" data-ng-model="authentication.user.twitterHandle" data-ng-minlength="1" data-ng-maxlength="20">
                                </div>
                                <div class="text-center form-group">
                                    <button type="submit" class="btn btn-large btn-blue">Save Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <h3>Subscription</h3>

            <div class="text-center" style="margin-bottom:20px;">
                <btn-upgrade data-ng-if="user.info.status === 'free' || user.info.status === 'trial'"></btn-upgrade>
                <div data-ng-if="user.info.status === 'base'">
                    <div data-ng-if="!authentication.user.cancelledPremium">
                        <div class="btn-container">
                            <a href class="btn btn-blue-empty btn-sm"  ng-click="cancelSubscription()">Cancel Base Subscription</a>
                        </div>
                        <div class="subscription-note">Your base subscription will auto renew on {{authentication.user.premiumRenewDate|date:'longDate'}}.</div>
                    </div>
                    <div class="btn-container">
                        <btn-upgrade></btn-upgrade>
                    </div>
                </div>
                <div data-ng-if="user.info.status === 'lifetime premium'">
                    <div class="btn-container">
                        <btn-upgrade></btn-upgrade>
                    </div>
                </div>
                <div data-ng-if="user.info.status === 'lifetime premium with base'">
                    <div data-ng-if="!authentication.user.cancelledPremium">
                        <div class="btn-container">
                            <a href class="btn btn-blue-empty btn-sm" ng-click="cancelSubscription()">Cancel Add On Subscription</a>
                        </div>
                        <div class="subscription-note">Your add on subscription will auto renew on {{authentication.user.premiumRenewDate|date:'longDate'}}.</div>
                    </div>
                </div>
                <div data-ng-if="user.info.status === 'old premium'">
                    <div data-ng-if="!authentication.user.cancelledPremium">
                        <div class="btn-container">
                            <a href class="btn btn-blue-empty btn-sm" ng-click="cancelSubscription()">Cancel Pro Subscription</a>
                        </div>
                        <div class="subscription-note">Your Pro subscription will auto renew on {{authentication.user.premiumRenewDate|date:'longDate'}}.</div>
                        <div class="subscription-note"><em>Please note we have changed our pricing structure, if you would like to re-activate your FansUnite Pro account the current plan you are on will no longer be offered</em></div>
                    </div>
                </div>
                <div data-ng-if="user.info.status === 'premium'">
                    <div data-ng-if="!authentication.user.cancelledPremium">
                        <div class="btn-container">
                            <a href class="btn btn-blue-empty btn-sm" ng-click="cancelSubscription()">Cancel Pro Subscription</a>
                        </div>
                        <div class="subscription-note">Your Pro subscription will auto renew on {{authentication.user.premiumRenewDate|date:'longDate'}}.</div>
                    </div>
                </div>
                <button data-ng-if="authentication.user.cancelledPremium" class="btn btn-upgrade btn-large" ng-click="resumeSubscription()">Resume Subscription</button>
                <div data-ng-if="authentication.user.cancelledPremium" class="subscription-note">Your subscription has been cancelled and will end on {{authentication.user.premiumEndDate|date:'longDate'}}.</div>
            </div>

            <div class="status-messages" style="margin:20px;">
                <div data-ng-show="success" class="text-center text-success">
                    <strong data-ng-bind="success"></strong>
                    <strong></strong>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>

            <h3 class="col-md-12 text-center">Email Notifications</h3>

            <div class="email-settings-container">
                <label class="control-label">New Follower</label>
                <div class="toggle-container">
                    <input id="new-follower" data-ng-model="authentication.user.newFollowerEmail" data-ng-click="updateUserProfile()" class="toggle" type="checkbox">
                    <label for="new-follower"></label>
                </div>
            </div>

            <div data-ng-if="user.info.status === 'old premium' || user.info.status === 'premium' || user.info.status === 'trial' || user.info.status === 'lifetime premium with base'|| user.info.status === 'base'">
                <h4>Pick Notifications</h4>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4" data-ng-repeat="following in followingSettings|orderBy:'following.name'">
                            <label class="control-label">{{following.following.ref.username}}</label>
                            <div class="toggle-container pull-right">
                                <input id="{{following.following.ref.username}}" data-ng-model="following.notify" data-ng-click="toggleFollowingSettings(following)" class="toggle" type="checkbox">
                                <label for="{{following.following.ref.username}}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="col-md-12 text-center">Social Account</h3>
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="/modules/fu/client/img/buttons/facebook.png" data-ng-disabled="isConnectedSocialAccount('facebook')">
                        <a href="/api/auth/facebook" target="_self" data-ng-disabled="isConnectedSocialAccount('facebook')" class="btn btn-medium">
                            Connect
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <img src="/modules/fu/client/img/buttons/twitter.png" data-ng-disabled="isConnectedSocialAccount('twitter')">
                        <a href="/api/auth/twitter" target="_self" data-ng-disabled="isConnectedSocialAccount('twitter')" class="btn btn-medium">
                            Connect
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <img src="/modules/fu/client/img/buttons/google.png" data-ng-disabled="isConnectedSocialAccount('google')">
                        <a href="/api/auth/google" target="_self" data-ng-disabled="isConnectedSocialAccount('google')" class="btn btn-medium">
                            Connect
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>