<div class="panel gamecenter-picks">
    <div class="panel-heading">
        <h1>PICKS</h1>
    </div>
    <tabset class="tabs-full tabs-3">
        <tab active="proActive">
            <tab-heading>PRO ({{proCount}})</tab-heading>
            <pick-list include-user="true" picks="proPicks" event="event" data-ng-if="!proHidden"></pick-list>
            <div class="pro-picks-upgrade" data-ng-if="proHidden">
                <h2>{{proCount}} Pro Picks</h2>
                <btn-upgrade></btn-upgrade>
            </div>
        </tab>
        <tab active="allActive">
            <tab-heading>ALL ({{allPicks.length}})</tab-heading>
            <pick-list include-user="true" picks="allPicks" event="event"></pick-list>
        </tab>
        <tab>
            <tab-heading>FOLLOWING</tab-heading>
            <pick-list include-user="true" picks="allPicks" event="event"></pick-list>
        </tab>
    </tabset>
</div>