<div class="panel gamecenter-header panel-square clearfix">
    <div class="color-header clearfix">
        <div class="color-section" style="background-color:{{header.contestant1Color}}"></div>
        <div class="color-section" style="background-color:{{header.contestant2Color}}"></div>
    </div>
    <div class="event-info-container winner-{{header.winner}}">
        <div class="contestant-container">
            <div class="contestant-name">{{header.contestant1Name}}</div>
            <div class="score-1" data-ng-if="header.hasScores">{{header.contestant1FinalScore}}</div>
        </div>
        <div class="event-details-container">
           <div class="league-name">{{header.leagueName}}</div>
           <div>{{header.startTime|date:'MMM d'}}</div>
           <div>{{header.startTime|date:'h:mma'}}</div>
        </div>
        <div class="contestant-container">
            <div class="contestant-name">{{header.contestant2Name}}</div>
            <div class="score-2" data-ng-if="header.hasScores">{{header.contestant2FinalScore}}</div>
        </div>
    </div>
</div>