#make-picks{
  position:absolute;
  left:0;
  right:0;

  #menu-container{
    position:absolute;
    left:0;
    padding-left:30px;
    width:195px;
  }

  #picks-container{
    position:absolute;
    left:195px;
    right:300px;
    padding-left:30px;

  }

  #right-container{
    position:absolute;
    right:0;
    width:300px;
    padding:10px;
    top:0;
  }

}