#make-picks-picks{
  margin-top:20px;
  div:first-of-type{
    h2{
      margin-top:0;
    }
  }
  h2{
    text-transform:uppercase;
    font-size:16px;
    margin-bottom:12px;
    margin-top:25px;
  }
  .bet-duration-filter{
    text-transform:uppercase;
    .dropdown-menu{
      text-align:right;
      a{
        color:@color-text;
        display:block;
        padding:3px 20px 3px 0;
      }
    }
  }
  h4{
    margin-top:30px;
    font-weight:@font-weight-light;
  }
}