.picks-event-container{
  padding:15px 15px;
  background-color:white;
  margin-bottom:10px;
  float:left;
  .box-shadow(1);
  .contestant-section{
    display:inline-block;
    vertical-align:top;
    min-width:150px;
    .contestants-container{
      padding-right:30px;
      border-right:1px solid @color-gray-divider;
      .contestant-name{
        font-size:16px;
        padding-top:10px;
      }
    }
  }
  .more-container{
    display:inline-block;
    vertical-align:top;
    padding:0 10px;
    .count-container{
      height:90px;
      padding-top:36px;
      text-align:center;
      font-size:16px;
    }
  }
  .heading{
    font-size:12px;
    text-align:center;
  }
  .bet-row{
    height:45px;
  }

  &.baseball{

  }
  &.basketball{

  }
  &.cricket{

  }
  &.darts{

  }
  &.e-sports{

  }
  &.football{

  }
  &.hockey{

  }
  &.mixed-martial-arts{

  }
  &.rugby-union{

  }
  &.soccer{

  }
  &.tennis{

  }
  &.volleyball{

  }
  &.boxing{

  }
  &.golf{

  }
  &.handball{

  }

}