<div class="hub-picks-feed panel">
    <div class="pick-feed-filter">
        <span class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                {{pickFilter}}<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu pull-right">
                <div data-ng-repeat="pickFilter in pickFilters">
                    <a href data-ng-click="filterChange(pickFilter)">
                        {{pickFilter}}
                    </a>
                </div>
            </div>
        </span>
    </div>
    <tabset>
        <tab select="tabChange('all')"  >
            <tab-heading>
                ALL PICKS
            </tab-heading>
            <div lr-infinite-scroll="getMorePicks" class="event-pick-list-container" data-ng-if="pickFilter === 'pending'">
                <event-pick-list events="picks.all.pending" include-user="true"></event-pick-list>
                <loading is-loading="disableScroll" color="'white'"></loading>
            </div>
            <div lr-infinite-scroll="getMorePicks" class="event-pick-list-container" data-ng-if="pickFilter === 'completed'">
                <event-pick-list events="picks.all.completed" include-user="true" ></event-pick-list>
                <loading is-loading="disableScroll" color="'white'"></loading>
            </div>
        </tab>
        <tab select="tabChange('pro')">
            <tab-heading>
                PRO PICKS
            </tab-heading>
            <div lr-infinite-scroll="getMorePicks" class="event-pick-list-container"  data-ng-if="pickFilter === 'pending'">
                <event-pick-list events="picks.pro.pending" include-user="true"></event-pick-list>
                <loading is-loading="disableScroll" color="'white'"></loading>
            </div>
            <div lr-infinite-scroll="getMorePicks" class="event-pick-list-container" data-ng-if="pickFilter === 'completed'">
                <event-pick-list events="picks.pro.completed" include-user="true" ></event-pick-list>
                <loading is-loading="disableScroll" color="'white'"></loading>
            </div>
        </tab>
    </tabset>
</div>