<section class="panel hub-trending">
    <div class="panel-body">
        <h1>TRENDING <span class="time-heading">LAST 30 DAYS</span></h1>
        <tabset class="tabs-2 tabs-full">
            <tab>
                <tab-heading>STREAK</tab-heading>
                <trending-table type="'streak'" users="hub.trending.streak"></trending-table>
            </tab>
            <!--
            <tab>
                <tab-heading>PROFIT</tab-heading>
                <trending-table type="'profit'" users="hub.trending.profit"></trending-table>
            </tab>
            -->
            <tab>
                <tab-heading>FOLLOWERS</tab-heading>
                <trending-table type="'follows'" users="hub.trending.followers"></trending-table>
            </tab>
        </tabset>
    </div>
</section>