<section class="panel hub-consensus">
    <div class="panel-body">
        <div class="hub-hot-picks-container">
            <h1>
                HOT PICK <span class="time-heading" tooltip="Current prediction with the most pro picks on the given side."><i class="fa fa-info-circle"></i></span>
            </h1>
            <hot-pick hot-pick="hub.hotPick" data-ng-if="hub.hotPick"></hot-pick>
        </div>
        <div class="hub-consensus-picks-container">
            <h1>
                CONSENSUS PICK <span class="time-heading">MONEYLINE</span>
            </h1>
            <consensus-pick consensus-pick="pick" data-ng-repeat="pick in hub.consensus"></consensus-pick>
        </div>

        <div class="hub-popular-games-container">
            <h1>
                POPULAR GAMES
            </h1>
            <popular-game popular-game="game" data-ng-repeat="game in hub.popular"></popular-game>
        </div>
    </div>
</section>