<section class="panel hub-trending">
    <div class="panel-body">
        <h1>
            REV SHARE LEADERS <span class="time-heading">THIS MONTH</span>
        </h1>
        <table class="table leaderboard-sm table-condensed">
            <thead>
                <th class="rank">#</th>
                <th class="username">USERNAME</th>
                <th class="text-center profit">PROFIT</a></th>
                <th class="text-center actions">ACTIONS</th>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in hub.leaderboard">
                <td class="rank">{{$index+1}}</td>
                <td class="username"><a ui-sref="profile({username:user.user.username})">{{user.user.username}}</a></td>
                <td class="text-center profit">{{user.profit| number:1}}</td>
                <td class="actions">
                    <btn-follow user-id="user.user._id"></btn-follow>
                    <btn-pending-picks username="user.user.username" pick-count="user.pending"></btn-pending-picks>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>