.profile-content{
  min-height:500px;
  .nav-tabs{
    font-size:16px;
    color:@color-text-dark;
    li {
      a {
        color:@color-text-dark;
        font-weight:@font-weight-bold;
      }
    }
  }
}