<h1>Pinnacle</h1>
    <!--
<ul>
    <li><a ui-sref="admin.pinnacleSports">Pinnacle Sports</a></li>
    <li><a ui-sref="admin.pinnacleLeagues">Pinnacle Leagues</a></li>
    <li><a ui-sref="admin.pinnacleContestants">Pinnacle Contestants</a></li>
</ul>
-->
<h1>FU</h1>
<ul>
    <!--
    <li><a ui-sref="admin.sportsbooks">Sportsbooks</a></li>
    -->

    <li><a ui-sref="admin.sports">Sports</a></li>
    <li><a ui-sref="admin.leagues">Leagues</a></li>

    <!--
    <li><a ui-sref="admin.leagues">Leagues</a></li>
    <li><a ui-sref="admin.groups">Groups</a></li>
    <li><a ui-sref="admin.contestants">Contestants</a></li>

    <li><a ui-sref="admin.events">Events</a></li>
    <li><a ui-sref="admin.bets">Bets</a></li>
    <li><a ui-sref="admin.picks">Picks</a></li>

    <li><a ui-sref="admin.channels">Channels</a></li>
    <li><a ui-sref="admin.users">Users</a></li>
    -->
</ul>

