<div class="panel profile-trending-stats profile-stats">
    <div class="panel-body">
        <h1>TRENDING STATISTICS <span class="time-heading">LAST 30 DAYS</span></h1>
        <div class="row">
            <div class="col-sm-6  trending-stats clearfix">
                <div class="statistic">
                    <div class="statistic-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="statistic-value-container">
                        <div class="stat-value">{{profile.last30Stats.profit|number:2|addPlus}}</div>
                        <div class="stat-text">Profit</div>
                    </div>
                </div>
                <div class="statistic">
                    <div class="statistic-icon">
                        <i class="fa fa-refresh"></i>
                    </div>
                    <div class="statistic-value-container">
                        <div class="stat-value">{{profile.last30Stats.roi|number:2}}%</div>
                        <div class="stat-text">ROI</div>
                    </div>
                </div>
                <div class="statistic">
                    <div class="statistic-icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="statistic-value-container">
                        <div class="stat-value">{{profile.last30Stats.wins}}-{{profile.last30Stats.losses}}</div>
                        <div class="stat-text">RECORD</div>
                    </div>
                </div>
                <div class="statistic">
                    <div class="statistic-icon">
                        <i class="fa fa-align-left"></i>
                    </div>
                    <div class="statistic-value-container">
                        <div class="stat-value">{{profile.last30Stats.avgOdds|formatOdds}}</div>
                        <div class="stat-text">Avg. Odds</div>
                    </div>
                </div>
                <div class="statistic">
                    <div class="statistic-icon">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="statistic-value-container">
                        <div class="stat-value">{{profile.last30Stats.avgBet|number:2}}</div>
                        <div class="stat-text">Avg. Bet</div>
                    </div>
                </div>
                <div class="statistic">
                    <div class="statistic-icon">
                        <i class="fa fa-sort-numeric-asc"></i>
                    </div>
                    <div class="statistic-value-container">
                        <div class="stat-value">{{profile.last30Stats.streak}}</div>
                        <div class="stat-text">Streak</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <area-chart data="profile.last30ProfitChart" height="150" data-ng-if="profile.last30ProfitChart"></area-chart>
            </div>
        </div>
    </div>
</div>