<div class="panel profile-content">
    <tabset class="tabs-2 tabs-full" >
        <tab>
            <tab-heading>PICKS</tab-heading>
            <div class="profile-picks">
                <div style="margin-top:80px; text-align:center;" data-ng-if="profile.pendingPicksHidden">
                    <h4 data-ng-if="profile.pendingPicksCount > 0">{{profile.pendingPicksCount}} Pending Pick(s)</h4>
                    <a class="btn btn-green" href="signup?redirect={{location.path()}}">Create Free Account</a>
                </div>
                <event-pick-list include-user="false" events="profile.pendingPicks"></event-pick-list>
            </div>
        </tab>
        <tab data-ng-click="initialClick()">
            <tab-heading>TRACKER</tab-heading>
            <ng-include src="'/modules/fu/client/templates/profile/profile-tracker.client.template.html'"></ng-include>
        </tab>
    </tabset>
</div>