<div class="panel">
    <div class="panel-body">
        <h1>FILTER HANDICAPPERS</h1>
        <div class="row">
            <div class="col-sm-3">
                <select data-ng-model="filter.date" class="form-control" ng-options="date.name for date in filters.dates" data-ng-change="updateFollowing(); updateTrending();"></select>
            </div>
            <div class="col-sm-3">
                <select data-ng-model="filter.sport" class="form-control" ng-options="sport.name for sport in filters.sports|orderBy:'name'" data-ng-change="updateFollowing(); updateLeagues(); updateTrending();"></select>
            </div>
            <div class="col-sm-3">
                <select data-ng-disabled="filter.sport._id === 'all'" data-ng-model="filter.league" class="form-control" ng-options="league.name for league in filters.leagues" data-ng-change="updateFollowing(); updateTrending();"></select>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-7">
                        <label class="control-label">PENDING PICKS</label>
                        <div class="toggle-container">
                            <input id="with-picks" data-ng-model="hasPicks" class="toggle" type="checkbox" data-ng-click="toggleHasPicks()">
                            <label for="with-picks"></label>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <label class="control-label">HISTORY</label>
                        <div class="toggle-container">
                            <input id="made-picks" data-ng-model="madePicks" class="toggle" type="checkbox" data-ng-click="toggleMadePicks()">
                            <label for="made-picks"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>