<section id="make-picks-picks" data-ng-controller="MakePicksPicksController">
    <div class="make-picks-sub-menu">
        <h1>
            <div class="heading">
                <i class="fa fa-bars" data-ng-click="toggleMenu()"></i>
                <h1 data-ng-if="makePicks.active.league">{{makePicks.active.league.sport.name}} <i class="fa fa-angle-right"></i> {{makePicks.active.league.name}}</h1>
            </div>
            <div class="bet-duration-filter" data-ng-if="activeBetDuration">
                <span class="dropdown" dropdown>
                    <a href class="dropdown-toggle" dropdown-toggle>
                        {{activeBetDuration}} <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu pull-right">
                        <div data-ng-repeat="betDuration in betDurations" >
                            <a href data-ng-click="setActiveBetDuration(betDuration)" >
                                {{betDuration}}
                            </a>
                        </div>
                    </div>
                </span>
            </div>
        </h1>
    </div>
    <div class="make-picks-filters">
        <ul>
            <li data-ng-repeat="betType in betTypes"><a href data-ng-click="setActiveBetType(betType)" data-ng-class="{active: betType === activeBetType}">{{betType}}</a></li>
        </ul>
    </div>
    <div data-ng-repeat="dateGroup in events">
        <h2>{{dateGroup.date |date:'longDate'}}</h2>
        <div data-ng-repeat="event in dateGroup.events">
            <make-picks event="event" bet-types="betTypes" bet-durations="betDurations" columns="columns" active-bet-type="activeBetType" active-bet-duration="activeBetDuration"></make-picks>
        </div>
    </div>
    <h4 data-ng-if="!events" class="text-center"><em>Please Select Sport/League</em></h4>
    <h4 data-ng-if="events.length === 0"><em>No Active Events</em></h4>
</section>