<section class="content-padding-top">
    <h2><a ui-sref="admin.home">Home</a> > <a ui-sref="admin.events">Events</a> > {{event.contestant1.name}}/{{event.contestant2.name}}</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 clearfix">
                <div class="panel">
                    <div class="table-responsive">
                        <ng-include src="'modules/fu/client/templates/admin/scores/scores-table.'+sportSlug+'.html'" data-ng-if="sportSlug"></ng-include>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel">
                    <div class="panel-body">
                        <form data-ng-submit="submit()">
                            <admin-datetime label="'Start Time'" model="event.startTime"></admin-datetime>
                            <admin-boolean label="'Over'" model="event.over"></admin-boolean>
                            <admin-boolean label="'Cancelled'" model="event.cancelled"></admin-boolean>
                            <admin-boolean label="'Scores'" model="event.scores"></admin-boolean>
                            <admin-boolean label="'Resolved'" model="event.resolved"></admin-boolean>
                            <!-- ADD GROUP FIELD -->
                            <admin-submit error="error"></admin-submit>
                            <alert type="success" data-ng-if="saved">Saved</alert>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <th>Bet</th>
                                <th>Bet Type</th>
                                <th>Bet Duration</th>
                                <th>Odds</th>
                                <th>Units</th>
                                <th>Profit</th>
                                <th>Roi</th>
                                <th>Result</th>
                                <th>Save</th>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="pick in picks">
                                    <td>{{pick|betName:event}}</td>
                                    <td>{{pick.betType}}</td>
                                    <td>{{pick.betDuration}}</td>
                                    <td>{{pick.odds|formatOdds}}</td>
                                    <td>{{pick.units}}</td>
                                    <td>{{pick.profit|formatProfit}}</td>
                                    <td>{{pick.roi|formatRoi}}</td>
                                    <td>
                                        <select ng-options="result for result in results" data-ng-model="pick.result"></select>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-xs" data-ng-click="savePick(pick)">SAVE</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>