.consensus-pick{
  padding:5px 0;
  text-transform:uppercase;
  .pick-name{
    font-size:12px;
    width:87%;
    display:inline-block;
    vertical-align:middle;
    .logo-container{
      min-width:55px;
      display:inline-block;
      vertical-align:middle;
      text-align:center;
    }
  }
  .pick-value{
    color:@color-text-dark;
    font-size:14px;
    display:inline-block;
    vertical-align:middle;
  }
}