<section class="content-padding-top">

    <div class="btn-container row">
        <div class="col-xs-3">
            <select class="form-control" name="dates" id="dates" ng-options="date for date in dates" data-ng-model="date" data-ng-change="getMetrics()"></select>
        </div>
    </div>

    <table class="table table-condensed">
        <thead>
            <th>Date</th>
            <th>New Users</th>
            <th>Picks</th>
            <th>Comments</th>
            <th>Follows</th>
            <th>Chat Count</th>
        </thead>
        <tbody>
            <tr data-ng-repeat="metric in metrics">
                <td>{{ metric.date | date:'mediumDate'}}</td>
                <td>{{metric.userCount}}</td>
                <td>{{metric.pickCount}}</td>
                <td>{{metric.commentCount}}</td>
                <td>{{metric.followCount}}</td>
                <td>{{metric.chatCount}}</td>
            </tr>
        </tbody>
    </table>
</section>