<section class="content-padding-top">
    <table class="table">
        <thead>
            <th>Date</th>
            <th># New Users</th>
            <th colspan="2" class="text-center">Pick Made on Date Created</th>
            <th colspan="2" class="text-center">Follow on Date Created</th>
        </thead>
        <tbody>
            <tr data-ng-repeat="metric in metrics">
                <td>{{metric.date|date:'short'}}</td>
                <td>{{metric.userCount}}</td>
                <td class="text-center">{{metric.pickMadeCount}}</td>
                <td class="text-center">{{((metric.pickMadeCount/metric.userCount)*100).toFixed(1)}}%</td>
                <td class="text-center">{{metric.followCount}}</td>
                <td class="text-center">{{((metric.followCount/metric.userCount)*100).toFixed(1)}}%</td>
            </tr>
        </tbody>
    </table>

</section>