<div class="text-center slide-rev-share" data-ng-controller="SlideRevShareController">
    <h2>
        Awesome, go make your first pick!
    </h2>
    <div class="text">
        Rev share is based on the top 5 members based on profit, each calendar month.
    </div>


    <table class="table leaderboard-sm">
        <thead>
        <th class="rank">#</th>
        <th class="username">USERNAME</th>
        <th class="text-center profit">PROFIT</a></th>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in leaderboard |orderBy:'profit':true">
            <td class="rank">{{$index+1}}</td>
            <td class="username"><a ui-sref="profile({username:user.user.username})">{{user.user.username}}</a></td>
            <td class="text-center profit">{{user.profit| number:1}}</td>
        </tr>
        </tbody>
    </table>


    <div class="btn-container text-center">
        <a  ui-sref="makePicks.home" data-ng-click="closeModal()" class="btn btn-xl btn-blue-2-empty">
            Start Making Picks
        </a>
    </div>
</div>