<div class="modal-header">
    <button type="button" class="close" data-ng-click="modal.closeModal(modalInstance)"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <h4 class="text-center">
        Are you sure you want to submit these picks?
    </h4>
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-blue" type="button" ng-click="confirmYes()">YES</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-white" type="button" ng-click="modal.closeModal(modalInstance)">NO</button>
            </div>
        </div>
    </div>
</div>