<div class="modal-header">
    <button type="button" class="close" data-ng-click="modal.closeModal(modalInstance)"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <h4 class="text-center">
        <span data-ng-if="!betSlip.status.submitted">Are you sure you want to submit these picks?</span>
        <span data-ng-if="betSlip.status.submitted">Picks have been submitted</span>
        <span data-ng-if="betSlip.status.error" class="error">There was an issue with submitting your picks. Please check your Bet Slip.</span>
    </h4>
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <div class="row" data-ng-if="!betSlip.status.submitted">
            <div class="col-xs-6">
                <button class="btn btn-blue" type="button" ng-click="confirmYes()" data-ng-disabled="loading.isLoading.pickSubmit">
                    <span data-ng-if="!loading.isLoading.pickSubmit">YES</span>
                    <loading is-loading="loading.isLoading.pickSubmit" size="'sm'" bg-color="'blue'" color="'white'"></loading>
                </button>
            </div>
            <div class="col-xs-6" data-ng-if="!betSlip.status.submitted">
                <button class="btn btn-white" type="button" ng-click="modal.closeModal(modalInstance)" data-ng-disabled="loading.isLoading.pickSubmit">NO</button>
            </div>
        </div>
        <div class="row" data-ng-if="betSlip.status.submitted">
            <div class="col-xs-12">
                <button class="btn btn-blue" type="button" ng-click="modal.closeModal(modalInstance)">
                    CLOSE
                </button>
            </div>
        </div>
    </div>
</div>