<table class="table leaderboard-table">
    <thead>
        <th class="rank">#</th>
        <th class="username">USERNAME</th>
        <th  id="discover-step3" class="value profit" data-ng-class="{'active': order === 'profit'}"><a href data-ng-click="updateOrder('profit')">PROFIT</a></th>
        <th class="value roi" data-ng-class="{'active': order === 'roi'}"><a href data-ng-click="updateOrder('roi')" >ROI</a></th>
        <th class="value win-loss" data-ng-class="{'active': order === 'wins'}"><a href data-ng-click="updateOrder('wins')">W/L</a></th>
        <th class="value avg-odds" data-ng-class="{'active': order === 'avgOdds'}"><a href data-ng-click="updateOrder('avgOdds')">AVG ODDS</a></th>
        <th class="value avg-bet" data-ng-class="{'active': order === 'avgBet'}"><a href  data-ng-click="updateOrder('avgBet')" >AVG BET</a></th>
        <th class="actions">ACTIONS</th>
    </thead>
    <tbody>
        <tr data-ng-repeat="user in leaderboard|orderBy:currentOrder:false | startFrom:(currentPage-1)*pageSize | limitTo:pageSize" data-ng-class="{active: user.user.username === authentication.user.username}">
            <td class="rank">{{$index+1 +((currentPage-1)*pageSize)}}</td>
            <td class="username"><a ui-sref="profile({username:user.user.username})"><img class="avatar avatar-circle avatar-xs" data-ng-src="{{user.user.avatarUrl}}" alt="{{user.user.username}} Profile Image"/>{{user.user.username}}</a></td>
            <td class="value profit" data-ng-class="{'active': order === 'profit'}">{{user.profit | number:1}}</td>
            <td class="value roi" data-ng-class="{'active': order === 'roi'}">{{user.roi | number:1}}%</td>
            <td class="value win-loss" data-ng-class="{'active': order === 'wins'}">{{user.wins}}-{{user.losses}}</td>
            <td class="value avg-odds" data-ng-class="{'active': order === 'avgOdds'}">{{user.avgOdds | formatOdds}}</td>
            <td class="value avg-bet" data-ng-class="{'active': order === 'avgBet'}">{{user.avgBet | number:1}}</td>
            <td class="actions" id="discover-step4">
                <btn-follow user-id="user.user._id"></btn-follow>
                <btn-pending-picks username="user.user.username" pick-count="user.pending"></btn-pending-picks>
            </td>
        </tr>
        <tr>
            <td colspan="8" class="pages">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </td>
         </tr>
    </tbody>

</table>