<div class="discussion-preview">
    <a ui-sref="gamecenter({slug:slug})">
        <div class="content-container">
            <div class="title">{{title}} - <span class="category">{{category}}</span></div>
            <div class="preview">{{commentPreview}}</div>
        </div>
        <div class="icon-container">
            <div class="comment-count">
                <i class="fa fa-comments-o"></i>
                <span class="count">{{commentCount}}</span>
            </div>
            <div am-time-ago="preview.timestamp" class="timestamp">
            </div>
        </div>
    </a>
</div>