<table class="table scores-table">
    <thead>
        <th>Start Time</th>
        <th>League</th>
        <th class="text-center">Picks</th>
        <th>Match</th>
        <th>1st Q</th>
        <th>2nd Q</th>
        <th>3rd Q</th>
        <th>4th Q</th>
        <th>OT?</th>
        <th>OT Score</th>
        <th>1st Q</th>
        <th>HT Score</th>
        <th>Final Score</th>
        <th>Winner</th>
        <th>Resolve</th>
        <th>Cancel</th>
    </thead>

    <tbody>
        <tr class="first-contestant" data-ng-repeat-start="eventGroup in events|filter:isNotNCAAB" ng-init="event = eventGroup.event;contestants = setContestants(eventGroup.event); setWinner(event);">
            <td rowspan="2" class="valign">{{event.startTime|date:'MMM d, yyyy'}} <br/>{{event.startTime|date:'h:mm a'}}</td>
            <td rowspan="2" class="valign">{{event.league.name}}</td>
            <td class="text-center valign" rowspan="2">{{eventGroup.count}}</td>
            <td>{{event.contestant1.name}}</td>
            <td><input type="number" min="0" data-ng-model="event.contestant1Q1Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant1Q2Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant1Q3Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant1Q4Score"/></td>
            <td class="text-center valign" rowspan="2"><input type="checkbox" data-ng-model="event.overtime"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant1OTScore" data-ng-disabled="!event.overtime"/></td>
            <td class="extra"><input type="number" min="0" data-ng-model="event.contestant1Q1Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant1H1Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant1FinalScore"/></td>
            <td rowspan="2">
                <select class="form-control" data-ng-model="event.contestantWinner" data-ng-options=" contestant.name for contestant in contestants ">
                </select>
            </td>
            <td rowspan="2" class="valign"><button class="btn btn-default btn-xs" data-ng-click="saveEvent(event)">RESOLVE</button></td>
            <td rowspan="2" class="valign"><button class="btn btn-default btn-xs" data-ng-click="cancelEvent(event)">CANCEL</button></td>
        </tr>
        <tr class="second-contestant" data-ng-repeat-end>
            <td>{{event.contestant2.name}}</td>
            <td><input type="number" min="0" data-ng-model="event.contestant2Q1Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant2Q2Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant2Q3Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant2Q4Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant2OTScore" data-ng-disabled="!event.overtime"/></td>
            <td class="extra"><input type="number" min="0" data-ng-model="event.contestant2Q1Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant2H1Score"/></td>
            <td><input type="number" min="0" data-ng-model="event.contestant2FinalScore"/></td>
        </tr>
    </tbody>
</table>

<table class="table scores-table">
    <thead>
        <th>Start Time</th>
        <th>League</th>
        <th class="text-center">Picks</th>
        <th>Match</th>
        <th>1st Half</th>
        <th>2nd Half</th>
        <th>OT?</th>
        <th>OT Score</th>
        <th>1st Half</th>
        <th>Final Score</th>
        <th>Winner</th>
        <th>Save</th>
        <th>Cancel</th>

    </thead>
    <tbody>
    <tr class="first-contestant" data-ng-repeat-start="eventGroup in events|filter:isNCAAB" ng-init="event = eventGroup.event">
        <td rowspan="2" class="valign">{{event.startTime|date:'MMM d, yyyy'}} <br/>{{event.startTime|date:'h:mm a'}}</td>
        <td rowspan="2" class="valign">{{event.league.name}}</td>
        <td class="text-center valign" rowspan="2">{{eventGroup.count}}</td>
        <td>{{event.contestant1.name}}</td>
        <td><input type="number" min="0" data-ng-model="event.contestant1H1Score"/></td>
        <td><input type="number" min="0" data-ng-model="event.contestant1H2Score"/></td>
        <td class="text-center valign" rowspan="2"><input type="checkbox" data-ng-model="event.overtime"/></td>
        <td><input type="number" min="0" data-ng-model="event.contestant1OTScore" data-ng-disabled="!event.overtime"/></td>
        <td class="extra"><input type="number" min="0" data-ng-model="event.contestant1H1Score"/></td>
        <td><input type="number" min="0" data-ng-model="event.contestant1FinalScore"/></td>
        <td rowspan="2">
            <select class="form-control" data-ng-model="event.contestantWinner" data-ng-options=" contestant.name for contestant in contestants ">
            </select>
        </td>
        <td rowspan="2" class="valign"><button class="btn btn-default" data-ng-click="saveEvent(event)">SAVE</button></td>
        <td rowspan="2" class="valign"><button class="btn btn-default" data-ng-click="cancelEvent(event)">CANCEL</button></td>
    </tr>
    <tr class="second-contestant" data-ng-repeat-end>
        <td>{{event.contestant2.name}}</td>
        <td><input type="number" min="0" data-ng-model="event.contestant2H1Score"/></td>
        <td><input type="number" min="0" data-ng-model="event.contestant2H2Score"/></td>
        <td><input type="number" min="0" data-ng-model="event.contestant2OTScore" data-ng-disabled="!event.overtime"/></td>
        <td class="extra"><input type="number" min="0" data-ng-model="event.contestant2H1Score"/></td>
        <td><input type="number" min="0" data-ng-model="event.contestant2FinalScore"/></td>
    </tr>
    </tbody>
</table>