<table class="table trending-table">
        <thead>
        <th class="username text-center">USERNAME</th>
        <th class="value text-center">STREAK</th>
        <th class="actions text-center"></th>
    </thead>
    <tbody>
    <tr data-ng-repeat="user in users">
        <td class="username"><avatar size="'xs'" url="user.user.ref.avatarUrl"></avatar>
            <a ui-sref="profile({username:user.user.ref.username})">{{user.user.ref.username}}</a>
        </td>
        <td class="value">{{user.winStreak}}</td>

        <td class="actions">
            <btn-follow user-id="user.user.ref._id"></btn-follow>
        </td>
    </tr>
    </tbody>
</table>