.modal-intro{
  @media (min-width: @screen-sm-min) {
    width:600px;
  }
}

.intro{
  padding-bottom:0;
  min-height:498px;
  h2{
    margin-bottom:30px;
  }
  .goal-options{
    cursor:pointer;
    .transition(all, 0.2s);
    &:hover{
      background-color:@color-blue-2;
      .text{
        color:white;
      }
      .fa{
        color:white;
      }
    }
    text-align:center;
    height:200px;
    padding:30px;
    .fa{
      font-size:70px;
    }
  }
  .text{
    font-size:18px;
    margin-top:20px;
    color:@color-text;
    padding: 0 10px;
  }
  .btn-container{
    margin:20px 0;
  }
}

.slide-pick{
  .trending-card{
    float:none;
    display:inline-block;
    .stat-value{
      padding:5px;
      font-size:20px;
    }
    .pending-count{
      font-size:16px;
      margin:8px;
    }
  }
  .follow-container{
    margin:45px 0;
  }
}

.slide-tracker{
  padding:0 20px;
  img{
    max-width:100%;
  }
}

.slide-rev-share{
  .leaderboard-sm{
    max-width:300px;
    margin:30px auto;
    border:1px solid @color-gray-divider;

  }
}

.slide-learn{
  padding:0 40px;
  h4{
    margin:45px 0;
  }
}

.slide-general{
  h1{
    color:@color-blue-2;
    font-weight:normal;
  }
  padding:0 50px;
  .icon-container{
    font-size:60px;
    //color:@color-blue-2;
  }
  .row{
    margin:20px 0;
  }
  .btn-container{
    margin:20px 0;
  }
}