<div class="channel-top-menu clearfix">
    <h1 class="channel-name">{{channel.name}}</h1>
    <span class="date-menu">
        <ng-include src="'/modules/fu/client/views/channels/channel-top-menus/channel-top-menu-weekly.client.view.html'" data-ng-if="channel.dateGroup === 'weekly'"></ng-include>
        <ng-include src="'/modules/fu/client/views/channels/channel-top-menus/channel-top-menu-daily.client.view.html'" data-ng-if="channel.dateGroup === 'daily'"></ng-include>
        <ng-include src="'/modules/fu/client/views/channels/channel-top-menus/channel-top-menu-upcoming.client.view.html'" data-ng-if="channel.dateGroup === 'upcoming'"></ng-include>
    </span>
    <div class="subscribe-btn-container">
        <btn-subscribe channel-id="channel._id"></btn-subscribe>
    </div>
</div>