<div class="channel-games" data-ng-hide="eventsLoading">
    <h4 data-ng-if="channelContent.eventGroups.length === 0"><em>No Active Events</em></h4>
    <div data-ng-repeat="eventGroup in channelContent.eventGroups">
        <h2 data-ng-if="channelContent.eventGroups.length > 1"> {{eventGroup.date|date:"MMM d"}}</h2>
        <ul class="dynamic-grid" angular-grid="eventGroup" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false">
            <li data-ng-repeat="event in eventGroup.events|orderBy:'-profit'" class="grid">
                <div class="channel-event">
                    <div class="league" data-ng-if="channel.type === 'sport'">
                        {{event.league.name}}
                    </div>
                    <div class="team-header clearfix team-winner-{{event.winnerNo}}">
                        <div class="logo1">
                            <logo size="'sm'" url="event.contestant2.logoUrl" data-ng-if="event.contestant1.logoUrl && event.contestant2.logoUrl"></logo>
                            <div class="score score-2" data-ng-if="event.score2">{{event.score2}}</div>
                        </div>
                        <div class="team-names" data-ng-class="{'no-logos': !event.contestant1.logoUrl || !event.contestant2.logoUrl}">
                            {{event.header}}</br>
                            {{event.startTime|date:'h:mm a'}}
                        </div>
                        <div class="logo2">
                            <logo size="'sm'" url="event.contestant1.logoUrl"  data-ng-if="event.contestant1.logoUrl && event.contestant2.logoUrl"></logo>
                            <div class="score score-1" data-ng-if="event.score1">{{event.score1}}</div>
                        </div>
                    </div>
                    <div class="odds odds-{{event.lines.length}}">
                        <div class="text-center" data-ng-if="event.lines.length === 0"><em>No Lines Available</em></div>
                        <div class="odds-col" data-ng-repeat="line in event.lines">
                            <div class="odds-header">{{line.header}}</div>
                            <div class="team1">
                                {{line.line1.text}} {{line.line1.value|displayBetValue:line.betType}}
                            </div>
                            <div class="team1">
                                {{line.line2.text}} {{line.line2.value|displayBetValue:line.betType}}
                            </div>
                        </div>
                    </div>
                    <div class="picks" data-ng-if="event.picks.length > 0">
                        <div class="text-center" data-ng-if="event.picks.length === 0"><em>No Picks</em></div>
                        <table class="table-striped table table-condensed">
                                <tbody>
                                <tr data-ng-repeat="pick in event.picks" data-ng-if="!pick.hidden">
                                    <td data-ng-if="!pick.hidden"><span class="pro-label" data-ng-if="pick.premium">PRO</span><a ui-sref="profile({username:pick.user.name})">{{pick.user.name}}</a></td>
                                    <td data-ng-if="!pick.hidden">{{pick|shortBetName:event}}</td>
                                    <td data-ng-if="!pick.hidden">{{pick.units}} units @ {{pick.odds|formatOdds}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="picks" data-ng-if="event.picksHidden">
                        <div class="text-center" data-ng-if="event.pickCount === 0"><em>No Picks</em></div>
                        <div class="text-center" data-ng-if="event.pickCount > 0">
                            <div><strong>{{event.pickCount}} Pick(s)</strong></div>
                            <a class="btn btn-green btn-xs" href="signup?redirect={{location.path()}}">CREATE FREE ACCOUNT</a>
                        </div>
                    </div>
                    <div class="consensus clearfix" data-ng-if="event.consensus">
                        <div class="pick-count">{{event.consensus.pickCount}} PICKS</div>
                        <div class="consensus-container " data-ng-repeat="consensus in event.consensus.consensus">
                            <div class="value-1-container value-container">
                                {{consensus.percent1}}%
                            </div>
                            <div class="bar-1-container bar-container">
                                <div class="bar-1 bar pull-right" tooltip="{{consensus.pick1Count}} Picks" style="background-color:{{consensus.color1}}; width: {{consensus.percent1}}%"></div>
                            </div>
                            <div class="header">{{consensus.header}}</div>
                            <div class="bar-2-container bar-container">
                                <div class="bar-2 bar pull-left"  tooltip="{{consensus.pick2Count}} Picks" style="background-color:{{consensus.color2}}; width: {{consensus.percent2}}%"></div>
                            </div>
                            <div class="value-2-container value-container">
                                {{consensus.percent2}}%
                            </div>
                        </div>
                    </div>
                    <div class="stats stats-{{event.pickColumns}}" data-ng-if="event.hasGeneralStats || event.hasProStats">
                        <div class="pro-stats stats-container results-{{event.proResult}}" data-ng-if="event.hasProStats">
                            <div class="stat-section-header"><span class="pro-label">PRO PICKS</span></div>
                            <div class="stat">
                                <div class="header">W/L</div>
                                <div class="value">{{event.proStats.wins}}/{{event.proStats.losses}}</div>
                            </div>
                            <div class="stat">
                                <div class="header">UNITS</div>
                                <div class="value">{{event.proStats.profit|formatProfit}}</div>
                            </div>
                            <div class="stat">
                                <div class="header">ROI</div>
                                <div class="value">{{event.proStats.roi}}</div>
                            </div>
                        </div>
                        <div class="general-stats stats-container results-{{event.generalResult}}" data-ng-if="event.hasGeneralStats">
                            <div class="stat-section-header">COMMUNITY PICKS</div>
                            <div class="stat">
                                <div class="header">W/L</div>
                                <div class="value">{{event.generalStats.wins}}/{{event.generalStats.losses}}</div>
                            </div>
                            <div class="stat">
                                <div class="header">UNITS</div>
                                <div class="value">{{event.generalStats.profit|formatProfit}}</div>
                            </div>
                            <div class="stat">
                                <div class="header">ROI</div>
                                <div class="value">{{event.generalStats.roi}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-container text-center">
                        <a class="btn btn-blue-2-empty btn-xs" ui-sref="gamecenter({eventSlug:event.slug, leagueSlug:event.leagueSlug})">VIEW GAMECENTER</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
