<div class="modal-header">
    <button type="button" class="close" data-ng-click="modal.closeModal(modalInstance)"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body text-center">
    <div id="subscription-plans" class="clearfix">
        <div class="price-container">
            <div class="price container-1">
                <img src="/modules/fu/client/img/why-go-pro/base.png">
            </div>
            <button class="btn-upgrade btn" data-ng-show="!authentication.user.premium && !authentication.user.trial" data-ng-click="mixpanel.joinClicked(page.getUrl(), 'Upgrade to Pro'); newSubscription('base');" >Upgrade To Pro</button>
        </div>
        <div class="price-container">
            <div class="price container-2">
                <img src="/modules/fu/client/img/why-go-pro/pro.png">
            </div>
            <button class="btn-upgrade btn" data-ng-show="!authentication.user.premium && !authentication.user.trial" data-ng-click="mixpanel.joinClicked(page.getUrl(), 'Upgrade to Pro'); newSubscription('premium-1');">Upgrade To Pro</button>
        </div>
        <div class="price-container">
            <div class="price container-3">
                <img src="/modules/fu/client/img/why-go-pro/6-month.png">
            </div>
            <button class="btn-upgrade btn" data-ng-show="!authentication.user.premium && !authentication.user.trial"  data-ng-click="mixpanel.joinClicked(page.getUrl(), 'Upgrade to Pro'); newSubscription('premium-6');">Upgrade To Pro</button>
        </div>
    </div>

    <div class="text-center" style="padding:10px 0;">
        <a ui-sref="whyGoPro" data-ng-click="close()">Why go Pro?</a>
    </div>
</div>