<div class="modal-header">
    <h4 class="modal-title">Pro Subscriptions</h4>
</div>

<div class="clearfix modal-body">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-xs-4">
                <h2>1 Month</h2>
                <h3>$20</h3>
                <p>($20/month)</p>
                <button class="btn btn-upgrade" data-ng-click="newSubscription(1)">Upgrade To Pro</button>
            </div>
            <div class="col-xs-4">
                <h2>6 Months</h2>
                <h3>$100</h3>
                <p>($16.67/month)</p>
                <button class="btn btn-upgrade" data-ng-click="newSubscription(6)">Upgrade To Pro</button>
            </div>
            <div class="col-xs-4">
                <h2>12 Months</h2>
                <h3>$180</h3>
                <p>($15.00/month)</p>
                <button class="btn btn-upgrade" data-ng-click="newSubscription(12)">Upgrade To Pro</button>
            </div>
        </div>
        <div class="text-center" style="padding:10px 0;">
            <span data-ng-show="success" data-ng-bind="success"></span>
            <span data-ng-show="error" data-ng-bind="error"></span>
        </div>
        <div class="text-center" style="padding:10px 0;">
            <a ui-sref="whyGoPro" data-ng-click="close()">Why go Pro?</a>
        </div>
    </div>
</div>
