<div class="clearfix">
    <div class="picks-event-container {{event.sport.ref.slug}} columns-{{columns}}">
        <div class="contestant-section">
            <div class="heading">{{::event.startTime|date:'shortTime'}}</div>
            <div class="contestants-container">
                <div class="contestant-name bet-row">{{::contestant1.name}}</div>
                <div class="contestant-name bet-row">{{::contestant2.name}}</div>
            </div>
        </div>
        <div class="bet-section-container" data-ng-repeat="betType in betTypes" data-ng-class="{active: activeBetType === betType}">
            <bet-section event="event" bet-type="betType" bets="mainBets[betType]"></bet-section>
        </div>

        <div class="more-container" data-ng-if="event.bets.moreCount">
            <div class="heading">
                MORE BETS
            </div>
            <div class="count-container">
                <a href>+ {{event.bets.moreCount}}</a>
            </div>
        </div>
    </div>
</div>