<div class="modal-header">
    <button type="button" class="close" data-ng-click="modal.closeModal(modalInstance)"><span aria-hidden="true">&times;</span></button>

</div>

<div class="modal-body text-center">
    <h4>Get a free 7 day Pro Account trial!</h4>
    <img src="/modules/fu/client/img/why-go-pro/pro.png">
    <h4>Activate Free Trial Now</h4>
    <div class="btn-container">
        <button class="btn btn-upgrade" data-ng-click="activateTrial()" data-ng-disabled="!authentication.user.verified">Activate</button>
    </div>
    <div data-ng-if="!authentication.user.verified"><em>Please verify your account before activating your Free trial.</em></div>
</div>