.auth-form{
  .divider{
    height: 1px;
    text-align: center;
    margin-bottom: 30px;
    background-color: @color-gray-divider;
    margin-top:20px;
    span{
      position: relative;
      top: -.6em;
      padding: 0 20px;
      background-color: white;
    }
  }
}