<div id="subscription-plans" class="clearfix">
    <div class="price-container">
        <div class="price container-1">
            <img src="/modules/fu/client/img/why-go-pro/base.png">
        </div>
    </div>
    <div class="price-container">
        <div class="price container-2">
            <img src="/modules/fu/client/img/why-go-pro/pro.png">
        </div>
    </div>
    <div class="price-container">
        <div class="price container-3">
            <img src="/modules/fu/client/img/why-go-pro/6-month.png">
        </div>
    </div>
</div>