.btn{
  -webkit-box-shadow:none;
  -moz-box-shadow: none;
  box-shadow:0;
  border-radius:0;
  &:focus{
    outline:0;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow:0;
  }
}

.btn-color(btn-orange; @color-orange; white);
.btn-color(btn-blue; @color-blue; white);
.btn-color(btn-facebook; @color-facebook; white);
.btn-color(btn-google; @color-google; white);