.btn{
  -webkit-box-shadow:none;
  -moz-box-shadow: none;
  box-shadow:0;
  border-radius:0;
  &:focus{
    outline:0;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow:0;
  }
}
.btn-default{
  background-image:none;
  &.active{
    background-color:white;
  }
}

.btn-color(btn-orange; @color-orange; white);
.btn-color(btn-blue; @color-blue; white);
.btn-color(btn-facebook; @color-facebook; white);
.btn-color(btn-twitter; @color-twitter; white);
.btn-color(btn-google; @color-google; white);
.btn-color(btn-green; @color-green; white);

.btn-empty(btn-blue-empty; @color-blue);
.btn-empty(btn-blue-2-empty; @color-blue-2);


.btn-action{
  font-size:16px;
  margin-right:7px;
  &:last-of-type{
    margin-right:0;
  }
}

.btn-share{
  .fa{
    color:@color-blue-2;
  }
}

.btn-comment{
  .fa{
    color:@color-orange;
  }
}

.btn-follow{
  .fa{
    color:@color-orange;
  }
}

.btn-pending-picks{
  color:@color-blue-2;
  background-color:white;
  border: 1px solid @color-blue-2;
  width:19px;
  height:19px;
  border-radius:19px;
  display:inline-block;
  font-size: 10px;
  line-height: 1.6;
  vertical-align:middle;
  margin-top: -3px;
  text-align:center;

}
.btn-tracker{
  .fa{
    color:@color-green;
  }
}

.btn-follow-rect{
  background-color:@color-green-light;
  color:white;
  font-size:13px;
}
.btn-follow-lg{
  padding:4px 18px;
}
.btn-follow-xs{
  padding:1px 5px;
}

.btn-subscribe{
  background-color:@color-green-light;
  color:white;
  font-size:13px;
  padding:4px 18px;
}

.btn-twitter, .btn-facebook, .btn-google{
  .fa{
    margin-right:5px;
  }
}

.btn-container{
  padding:10px 0;
}