.panel-square{
  border-radius:0;
}
.panel-footer{
  background-color:transparent;
}
.panel-heading{
  border-color:@color-gray-divider;
}
.panel{
  .box-shadow(1);
  h1{
    font-size:14px;
    margin-top:0;
    font-weight:@font-weight-bold;
    margin-bottom:14px;
    .time-heading{
      font-size:10px;
      color:@color-text;
      margin-left:8px;
      text-transform:uppercase;
    }
  }
  h3{
    text-transform:uppercase;
    margin:5px 0;
  }
}

.auth-panel{
  margin:20px auto 0 auto;
  max-width:400px;
  h3{
    margin:5px 0;
    text-transform:uppercase;
  }
}

.border-right-divider-md{

  @media (min-width: @screen-md-min) {
    border-right:1px solid @color-gray-divider;
  }
}