.nav-tabs, .nav-justified{
  border-bottom:0;
  li{
    border-bottom:2px solid white;
    a{
      color:@color-text;
      border-bottom:2px solid @color-gray-divider;
      margin-right:0;
      border-top:0;
      border-left:0;
      border-right:0;
      white-space: nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      &:hover{
        border-top:0;
        border-left:0;
        border-right:0;
        background-color:white;
        border-bottom:2px solid @color-gray-divider;
      }
    }
    &.active{
      a{
        border:0;
        border-bottom:2px solid @color-orange;
        &:hover, &:focus{
          border:0;
          border-bottom:2px solid @color-orange;
        }
      }
    }
  }

  &.nav-justified{
    border-bottom:0;
    li{
      border-bottom:2px solid white;
      a{
        color:@color-text;
        border-bottom:2px solid @color-gray-divider;
        margin-right:0;
        border-top:0;
        border-left:0;
        border-right:0;
        &:hover{
          border-top:0;
          border-left:0;
          border-right:0;
          background-color:white;
          border-bottom:2px solid @color-gray-divider;
        }
      }
      &.active{
        a{
          border:0;
          border-bottom:2px solid @color-orange;
          &:hover, &:focus{
            border:0;
            border-bottom:2px solid @color-orange;
          }
        }
      }
    }
  }
}
.tabs-full{
  .nav-tabs{
    text-align:center;
  }
}
.tabs-sm{
  li{
   a{
     padding-top:5px;
     padding-bottom:5px;
   }
  }
}

.tabs(tabs-2, 2);
.tabs(tabs-3, 3);
.tabs(tabs-4, 4);
.tabs(tabs-5, 5);