@color-blue: rgb(16,70,115);
@color-orange: rgb(233,137,58);

@color-bg: rgb(238,238,238);
@color-bg-top-menu: white;
@color-bg-auth-side-menu: rgb(33,117,155);

@color-gray-divider: rgb(234,234,234);

@height-top-menu: 60px;
@width-auth-side-menu: 200px;


@zindex-top-menu: 10;
@zindex-auth-side-menu: 10;

@color-text: rgb(106,107,108);


@font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
@font-family: 'Lato', Calibri, Arial, sans-serif;