<div class="popular-game">
    <a ui-sref="gamecenter({eventSlug:popularGame.event.slug, leagueSlug: popularGame.event.league.ref.slug})">
        <div class="contestant">
            <div data-ng-if="popularGame.event.contestant2.ref.logoUrl && popularGame.event.contestant1.ref.logoUrl"><logo contestant-name="popularGame.event.contestant2.name" size="'sm'" url="popularGame.event.contestant2.ref.logoUrl"></logo></div>
            {{popularGame.event.contestant2.name}}
        </div>
        <div class="separator">
                @
        </div>
        <div class="contestant">
            <div data-ng-if="popularGame.event.contestant2.ref.logoUrl && popularGame.event.contestant1.ref.logoUrl"><logo contestant-name="popularGame.event.contestant1.name" size="'sm'" url="popularGame.event.contestant1.ref.logoUrl"></logo></div>
            {{popularGame.event.contestant1.name}}
        </div>
    </a>
    <div class="pick-count">
        {{popularGame.pickCount}}
        <div class="text">PICKS</div>
    </div>
</div>