
<div class="modal-header">
    <button type="button" class="close" data-ng-click="modal.closeModal(modalInstance)"><span aria-hidden="true">&times;</span></button>

    <div class="pending-picks-icon" data-ng-class="{active:show ==='pending'}" data-ng-click="updateShow('pending')">
        <i class="fa fa-clock-o"></i>
        <div class="text">PENDING PICKS</div>
    </div>
    <div class="completed-picks-icon" data-ng-class="{active:show ==='completed'}" data-ng-click="updateShow('completed')">
        <i class="fa fa-check-square"></i>
        <div class="text">COMPLETED PICKS</div>
    </div>

</div>

<div class="modal-body">
    <div class="picks-table-container">
        <pick-table type="'pending'" picks="pendingPicks" data-ng-show="show === 'pending'"></pick-table>
        <pick-table type="'completed'" picks="completedPicks"  data-ng-show="show === 'completed'"></pick-table>
    </div>
    <div class="btn-container text-center">
        <a class="btn btn-blue-empty" ui-sref="profile({username:authentication.user.username})" data-ng-click="modal.closeModal(modalInstance)"  data-ng-show="show === 'completed' || (show === 'pending' && pendingPicks.length > 0)">SEE ALL PICKS</a>
        <a class="btn btn-blue-empty" ui-sref="makePicks.home" data-ng-click="modal.closeModal(modalInstance)"  data-ng-show="show === 'pending' && pendingPicks.length === 0">SEE ALL PICKS</a>
    </div>
</div>