.channel-event{
  padding:10px 10px 0 10px;
  .league{
    text-align:center;
  }
  .team-header{
    padding-bottom:5px;
    .logo1{
      width:30%;
      float:left;
      text-align:center;
    }
    .team-names{
      color:@color-text-dark;
      font-size:14px;
      width:40%;
      text-align:center;
      float:left;
      &.no-logos{
        width:100%;
      }

    }
    .logo2{
      width:30%;
      float:left;
      text-align:center;
    }
  }
  .odds{
    border-top:1px solid @color-gray-divider;
    padding:5px 0;
    .odds-col{
      display:inline-block;
      text-align:center;
      border-right:1px solid @color-gray-divider;
      &:last-of-type{
        border-right:0;
      }
      .odds-header{
        color:@color-text-dark;
      }
    }
    &.odds-1{
      .odds-col{
        width:100%;
      }
    }
    &.odds-2{
      .odds-col{
        width:50%;
      }
    }
    &.odds-3{
      .odds-col{
        width:33%;
      }
    }
  }
  .picks{
    border-top:1px solid @color-gray-divider;
    padding:5px 0;
    .table{
      tr{
        td{
          border:0;
        }
      }
    }
  }
  .stats{
    padding:5px 0;
    border-top:1px solid @color-gray-divider;
    &.stats-1{
      .stats-container{
        width:100%;
      }
    }
    &.stats-2{
      .stats-container{
        width:49%;
      }
    }
    .stats-container{
      &.results-win{
        .value{
          color:@color-green-light;
        }
      }
      &.results-loss{
        .value{
          color:@color-red;
        }
      }
      display:inline-block;
      text-align:center;
      border-right:1px solid @color-gray-divider;
      .stat-section-header{
        padding-bottom:5px;
        color:@color-text-dark;
        font-weight:bold;
      }
      &:last-of-type{
        border-right:0;
      }
      .stat{
        width:32%;
        display:inline-block;
        .header{
          color:@color-text-dark;
        }
      }
    }
  }
  .consensus{
    border-top:1px solid @color-gray-divider;
    padding:5px 0;
    .pick-count{
      color:@color-text-dark;
      text-align:center;
      font-size:13px;
      padding:5px;
      font-weight:bold;
    }
    .consensus-container{
      height:30px;
      width:100%;
      float:left;
      .value-container{
        float:left;
        width:11%;
        color:@color-text-dark;
        text-align:center;
      }
      .bar-container{
        float:left;
        width:29%;
        height:12px;
        margin-top:3px;
        background-color:@color-gray-divider;
      }
      .header{
        float:left;
        width:20%;
        text-align:center;
      }
      .bar{
        height:12px;
      }
    }
  }
  .btn-container{
    border-top:1px solid @color-gray-divider;
  }

}